### Assignment 3

## Question 1

In [1]:
import pandas as pd
import numpy as np
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [2]:
import statsmodels.formula.api as smf

In [3]:
results = smf.ols( 'np.log( COST ) ~ np.log( Q ) + np.log(PL)+ np.log(PF) + np.log(PK)', data = greene)

In [4]:
X_input = pd.DataFrame(results.exog, columns = results.exog_names).iloc[ : , 1: ]
y_input = pd.Series(results.endog , name = results.endog_names )
intercept_input = True

In [5]:
beta_OLS_output = results.fit().summary2().tables[1].iloc[ :, [0]]
beta_OLS_output

               Coef.
Intercept  -7.472227
np.log(Q)   0.838111
np.log(PL)  0.044258
np.log(PF)  0.713098
np.log(PK)  0.188449

In [6]:
y_input

0     -1.546463
1      1.112745
2      2.241337
3     -0.273648
4      0.814789
         ...
153    1.921222
154    1.324552
155    1.381834
156    3.407444
157    4.217391
Name: np.log(COST), Length: 158, dtype: float64

In [7]:
X_input

     np.log(Q)  np.log(PL)  np.log(PF)  np.log(PK)
0     2.079442    8.834842    2.890372    4.173541
1     6.767343    9.032763    3.047708    4.222840
2     7.252762    8.982297    3.726416    3.706032
3     4.174387    9.101852    3.351272    3.719481
4     5.686975    9.014131    3.668677    4.275832
..         ...         ...         ...         ...
153   6.852877    9.272579    3.940863    3.775057
154   5.932245    8.913583    3.509633    4.305685
155   5.968708    8.670093    3.798473    4.360394
156   8.578665    9.168125    3.733853    4.356811
157   9.630366    8.851676    3.245011    4.304403

[158 rows x 4 columns]