# Assignment 6

librarys used for this assignment

In [ ]:
#pip install Unidecode

In [2]:
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
import re
import time 
from selenium.webdriver.support.ui import Select
from datetime import date
import pandas as pd
import json
import googlemaps
import pprint
import pandas as pd
import numpy as np
import os
import urllib.request, json
import csv
from tqdm import tqdm_notebook as tqdm
import unidecode

#### 1. Scraping **SUNEDU** webpage to obtain information from national and private universities

Generate the web driver

In [3]:
options = webdriver.ChromeOptions()
options.add_argument('--incognito')
driver = webdriver.Chrome( ChromeDriverManager().install() )
driver.maximize_window()

url="https://www.sunedu.gob.pe/lista-universidades/"

driver.get(url)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\Carlos\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache
<ipython-input-3-c234546c721d>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome( ChromeDriverManager().install() )

In [4]:
all_tables = {}

for Cont_x in range( 1 , 3 ):
    
    # Extracting table data
    table_path = driver.find_element_by_xpath( f"/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[{Cont_x}]/div" )
    table_html = table_path.get_attribute( 'innerHTML' )
        
    table = pd.read_html( table_html )
                        
    # Selecting specific columns
    table_clean = table[0].iloc[ :, 1: 4 ].copy()
    
    #Change columns names and reorder
    table_clean = table_clean.rename(columns={"UNIVERSIDAD":"Name_univ","DEPARTAMENTO":"Department_univ","PROVINCIA":"Province_univ"}, inplace= False)
    table_clean = table_clean.reindex(columns=['Department_univ', 'Province_univ', 'Name_univ'])    
    
    # store tables
    all_tables[ Cont_x ] = table_clean

<ipython-input-4-ef573a9e13bb>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  table_path = driver.find_element_by_xpath( f"/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[{Cont_x}]/div" )
<ipython-input-4-ef573a9e13bb>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  table_path = driver.find_element_by_xpath( f"/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[{Cont_x}]/div" )

In [7]:
data_universidad = pd.concat( all_tables.values() ).reset_index( drop = True )
data_universidad

,Department_univ,Province_univ,Name_univ
0,Lima,Lima,Universidad Nacional Mayor de San Marcos
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...
3,La Libertad,Trujillo,Universidad Nacional de Trujillo
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa
...,...,...,...
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...
139,Lima,Lima,Universidad Privada SISE
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12)
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12)
142,Lima,Lima,Universidad Católica San José