# Assignment 6

librarys used for this assignment

In [ ]:
#pip install Unidecode

In [1]:
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
import re
import time 
from selenium.webdriver.support.ui import Select
from datetime import date
import pandas as pd
import json
import googlemaps
import pprint
import pandas as pd
import numpy as np
import os
import urllib.request, json
import csv
from tqdm import tqdm_notebook as tqdm
import unidecode

#### 1. Scraping **SUNEDU** webpage to obtain information from national and private universities

Generate the web driver

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--incognito')
driver = webdriver.Chrome( ChromeDriverManager().install() )
driver.maximize_window()

url="https://www.sunedu.gob.pe/lista-universidades/"

driver.get(url)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\VALERIA\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache
<ipython-input-2-c234546c721d>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome( ChromeDriverManager().install() )

In [3]:
all_tables = {}

for Cont_x in range( 1 , 3 ):
    
    # Extracting table data
    table_path = driver.find_element_by_xpath( f"/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[{Cont_x}]/div" )
    table_html = table_path.get_attribute( 'innerHTML' )
        
    table = pd.read_html( table_html )
                        
    # Selecting specific columns
    table_clean = table[0].iloc[ :, 1: 4 ].copy()
    
    #Change columns names and reorder
    table_clean = table_clean.rename(columns={"UNIVERSIDAD":"Name_univ","DEPARTAMENTO":"Department_univ","PROVINCIA":"Province_univ"}, inplace= False)
    table_clean = table_clean.reindex(columns=['Department_univ', 'Province_univ', 'Name_univ'])    
    
    # store tables
    all_tables[ Cont_x ] = table_clean

<ipython-input-3-ef573a9e13bb>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  table_path = driver.find_element_by_xpath( f"/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[{Cont_x}]/div" )

In [4]:
data_universidad = pd.concat( all_tables.values() ).reset_index( drop = True )
data_universidad

,Department_univ,Province_univ,Name_univ
0,Lima,Lima,Universidad Nacional Mayor de San Marcos
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...
3,La Libertad,Trujillo,Universidad Nacional de Trujillo
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa
...,...,...,...
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...
139,Lima,Lima,Universidad Privada SISE
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12)
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12)
142,Lima,Lima,Universidad Católica San José

#### 2. Geolocating universities to get universitie's latitude and longitude

In [5]:
def join_columns( row_series ):
    
    
    return address

In [6]:
def geo_university( row_series ):
    
    address = f"{row_series['Department_univ']}, {row_series['Province_univ']}, {row_series['Name_univ']}"
    
    # Set Geolocation
    gmaps = googlemaps.Client( key = 'AIzaSyDskcq6F0p1fSQ6ul_QqgPfB1Go3Mc-zBg' )
    result_api = gmaps.geocode( address , region = 'PE' )
    
    # Information
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( address, lat, lon )

In [7]:
data_universidad['results'] = data_universidad.apply( lambda x: geo_university( x )  , axis = 1 )

In [8]:
# Consolidate geodata
pd.DataFrame( data_universidad.results.tolist()  )
data_universidad[['address', 'lat', 'lng']] = pd.DataFrame( data_universidad.results.tolist() ,  index = data_universidad.index )
data_universidad = data_universidad.drop( columns=['results' ,  'address'] )
data_universidad = data_universidad.rename( columns={ "lat":"Latitude_univ" , "lng":"Longitude_univ" }, inplace= False )
data_universidad

,Department_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ
0,Lima,Lima,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,-13.161248,-74.225772
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321
3,La Libertad,Trujillo,Universidad Nacional de Trujillo,-8.115007,-79.038305
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa,-16.397139,-71.537144
...,...,...,...,...,...
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488
139,Lima,Lima,Universidad Privada SISE,-12.077645,-77.035855
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12),-12.063959,-76.960074
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12),-12.069621,-77.053398
142,Lima,Lima,Universidad Católica San José,-12.083682,-77.069168