# Assignment

In [ ]:
Ejercicio 1.1

In [1]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tuple2 = (10, 20, 30, 40, 50)

In [2]:
print ( "tuple1[0] =", tuple1 [0] )

tuple1[0] = apple

In [3]:
print ( "tuple1[-1] =", tuple1 [-1] )

tuple1[-1] = mango

In [5]:
print ( "tuple1[len] =", len (tuple1) )

tuple1[len] = 7

## Excersice 1
Show the indices of the `np.nan` values  in the `f_list` list. <br>
We want to see the indices 1 and 4.
Replicate your code for list `f2_list`.

In [1]:
import numpy as np

In [2]:
f_list = ["Europe", np.nan , "America", "India", np.nan, "Pakistan", "np.nan"]

In [3]:
f2_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [8]:
#Indices of np.nan values in the f_list:
print(f_list.index(np.nan))
print(f_list.count(np.nan))

1
2

In [16]:
#Indices of np.nan values in the f2_list:
print(f2_list.index(np.nan))
print(f2_list.count(np.nan))

0
4

In [15]:
#Indices 1 and 4 from f_list:
f_list[1]
f_list[4]

nan

In [17]:
#Indices 1 and 4 from f2_list:
f2_list[1]
f2_list[4]

nan

## Excersice 2
Replicate 4 times the values of the list `p2_list`. <br>
We expect an ouput like this <br>
`[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`

In [26]:
p2_list = [ 2 , 3, 4, 5]

In [27]:
p2_list.extend(p2_list)
p2_list.extend(p2_list)

In [28]:
p2_list

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

## Excersice 3
Create a dictionary with two keys: `even_numbers` and `odd_numbers`. The first key should have all the even numbers in this range `[0, 2000]` and the second key must have all the odd numbers in this range `[9000, 19000]`. The values should be store in a `list`.

## Excersice 4
Replace all the `even_numbers` in `np1` with 100.

In [5]:
np1 = np.arange( 200, 750)

## Excersice 5

Get $\hat{\beta}$ vector from the equation bellow. Use the `q`, `p1`, `p2`, `p3`, `CT` numpies. <br>
For more information about restricted OLS [click here](http://web.vu.lt/mif/a.buteikis/wp-content/uploads/PE_Book/4-4-Multiple-RLS.html).<br>


$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \frac{1}{2}\beta_qq lnq^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q1}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \frac{1}{2}\beta_{11}ln^{2}p_1+ \frac{1}{2}\beta_{22}ln^{2}p_{2}+ \frac{1}{2}\beta_{33}ln^{2}p_{3} + \frac{1}{2}\beta_{12}lnp_{1}lnp_{2}+ \frac{1}{2}\beta_{13}lnp_{1}lnp_{3}+\frac{1}{2}\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$


ST: 

<br>
$$
\begin{aligned} 
\beta_{1} + \beta_{2} + \beta_{3} &= 1 \\
\beta_{q1} + \beta_{q2} + \beta_{q3} &= 0 \\
\beta_{11} + \beta_{12} + \beta_{13} &= 0 \\
\beta_{21} + \beta_{22} + \beta_{23} &= 0 \\
\beta_{31} + \beta_{32} + \beta_{33} &= 0 \\
\beta_{ij} = \beta_{ji}
\end{aligned}
$$

In [6]:
import pandas as pd
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [7]:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values