In [1]:
#import libreries
import pandas as pd
import numpy as np

# 1.1 TUPLES

In [2]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tuple2 = (10, 20, 30, 40, 50)

In [3]:
#1
#first item
tuple1[0]

'apple'

In [4]:
#2
#last item
tuple1[-1]

'mango'

In [5]:
#3
# I want to change the value "orange" for "pink grapefruit"
tuple1[3] = "pink grapefruit"
# It is not possible to change values because of the nature of the tuple

TypeError: 'tuple' object does not support item assignment

In [6]:
#4
#LEN TUPLE
len(tuple1)

7

In [7]:
#5
#SORT TUPLE
r_sorted_tuple2 = sorted(tuple2, reverse = True)
r_sorted_tuple2

[50, 40, 30, 20, 10]

In [8]:
#6
list1 = list(tuple2)

type(list1)

list

In [9]:
tuple3 = ([x/2 for x in list1])
tuple3

[5.0, 10.0, 15.0, 20.0, 25.0]