In [34]:
#import libreries
import pandas as pd
import numpy as np

# 1.1 TUPLES

In [2]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tuple2 = (10, 20, 30, 40, 50)

In [3]:
#1
#first item
tuple1[0]

'apple'

In [4]:
#2
#last item
tuple1[-1]

'mango'

In [1]:
#3
# I want to change the value "orange" for "pink grapefruit"
tuple1[3] = "pink grapefruit"
# It is not possible to change values because of the nature of the tuple

NameError: name 'tuple1' is not defined

In [6]:
#4
#LEN TUPLE
len(tuple1)

7

In [7]:
#5
#SORT TUPLE
r_sorted_tuple2 = sorted(tuple2, reverse = True)
r_sorted_tuple2

[50, 40, 30, 20, 10]

In [8]:
#6
list1 = list(tuple2)

type(list1)

list

In [9]:
tuple3 = ([x/2 for x in list1])
tuple3

[5.0, 10.0, 15.0, 20.0, 25.0]

# 1.2 LISTS

In [43]:
#1
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

a = [x  for x in range(0,len(f_list)) if f_list[x] is np.nan]

print("The indices", a, "have np.nan values.")

The indices [0, 1, 4, 7] have np.nan values.

In [57]:
#2
p2_list = [ 2 , 3, 4, 5 ]

p2_list.extend(p2_list)
p2_list.extend(p2_list)

print(p2_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [58]:
#3
len(f_list)

8

In [70]:
#4
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

print(" ".join(text1))

My teacher assistant is so boring.

In [71]:
#5
text1[1] = "TA"
text1[5] = "boring, "
text1.pop(2)

text2 = ['but', 'is', 'very', 'funny.']

text1.extend(text2)

print(" ".join(text1))

My TA is so boring,  but is very funny.

In [76]:
#6
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 

b = ( min(values1) )
c = ( max(values1) )

d = (values1.index(0))
e = (values1.index(86))



print("The max value of values1 is", c, "and is located in the", d , "index." "\n"
     "The min value of values1 is", b, "and is located in the", e , "index.")

The max value of values1 is 86 and is located in the 7 index.
The min value of values1 is 0 and is located in the 0 index.