# Group 6 assignment 1

## 1.1 Tuple

1. Print the first item of the tuple1 object.

In [2]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [3]:
print( tuple1[0] )

apple

2. Print the last item of the tuple1 object.

In [5]:
print( tuple1[-1] )

mango

3. Change the value "orange" for "pink grapefruit".

In [7]:
tuple1[3]= "pink grapefruit"
# Note that it's not possible to change some value of tuple1.This is because tuple by definition are unchangeable, meaning
# that we cannot change, delete or add values after the tuple has been created.

TypeError: 'tuple' object does not support item assignment

4. Print the length of tuple1

In [8]:
print( len(tuple1) )

7

5. Sort tuple2 in descending order.

In [9]:
tuple2 = (10, 20, 30, 40, 50)

In [11]:
tuple2[::-1]

(50, 40, 30, 20, 10)

6. Generate a new tuple object named as tuple3 with the half values of tuple2

In [34]:
tuple3 = tuple(x/2 for x in tuple2 )
print( "Original tuple 2 : " + str( tuple2 ) )
print( "The divided tuple : " + str( tuple3 ) )

Original tuple 2 : (10, 20, 30, 40, 50)
The divided tuple : (5.0, 10.0, 15.0, 20.0, 25.0)

## 1.2 ListsÂ¶

1. Show the indices of the np.nan values in the f_list list.

In [3]:
import numpy as np
f_list= [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
indices="0,1,4,7"
f"The indices {indices} have np.nan values."

'The indices 0,1,4,7 have np.nan values.'

2. Replicate 4 times the values of the list p2_list.

In [15]:
p2_list=[2,3,4,5]
p2_list*4

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

3. Print the length of f_list.

In [4]:
print(len(f_list))

8

4. Print My teacher assistant is so boring.

In [5]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
print(" ".join(text1))

My teacher assistant is so boring.

5. Print My TA is so boring, but is very funny.

In [6]:
text2=[', but is very funny']
text1.extend(text2)
print(" ".join(text1))

My teacher assistant is so boring. , but is very funny

6. Print The max value of values1 is 86 and is located in the 0 index. The min value of values1 is 0 and is located in the 7 index.

In [7]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
maximo = max(values1)
indice = values1.index(86)
F"The max value of values1 is {maximo} and is located in the {indice} index."

'The max value of values1 is 86 and is located in the 0 index.'

In [8]:
minimo = min(values1)
indice = values1.index(0)
F"The max value of values1 is {minimo} and is located in the {indice} index."

'The max value of values1 is 0 and is located in the 7 index.'

In [11]:
[i for i, n in enumerate(f_list) if n == np.nan]
F"The indices {f_list1} have np.nan values."

'The indices None have np.nan values.'