### Assigment 6

In [1]:
#pip install pyshp

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver import ActionChains
import pandas as pd
import numpy as np
import os
import time
import re
import unidecode
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
import pickle

In [37]:
import googlemaps
import json
import pprint
from datetime import datetime

In [4]:
driver = webdriver.Chrome( ChromeDriverManager().install() )

url = 'https://www.sunedu.gob.pe/lista-universidades/'
driver.get( url )

driver.maximize_window()

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\a-pal\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache
<ipython-input-4-9db1c8016f6c>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome( ChromeDriverManager().install() )

unis_publicas = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[1]/div" )
table_unis_publicas = unis_publicas.get_attribute( 'innerHTML' )
table = pd.read_html( table_unis_publicas )[0]
table

In [6]:
table1 = table.iloc[ : ,[2, 3, 1]]
table1

,DEPARTAMENTO,PROVINCIA,UNIVERSIDAD
0,Lima,Lima,Universidad Nacional Mayor de San Marcos
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...
3,La Libertad,Trujillo,Universidad Nacional de Trujillo
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa
5,Lima,Lima,Universidad Nacional de Ingeniería
6,Lima,Lima,Universidad Nacional Agraria La Molina
7,Ica,Ica,Universidad Nacional San Luis Gonzaga
8,Junín,Huancayo,Universidad Nacional del Centro del Perú
9,Loreto,Maynas,Universidad Nacional de la Amazonía Peruana
10,Puno,Puno,Universidad Nacional del Altiplano
11,Piura,Piura,Universidad Nacional de Piura
12,Cajamarca,Cajamarca,Universidad Nacional de Cajamarca
13,Lima,Lima,Universidad Nacional Federico Villarreal
14,Huánuco,Leoncio Prado,Universidad Nacional Agraria de la Selva
15,Huánuco,Huánuco,Universidad Nacional Hermilio Valdizán de Huánuco
16,Lima,Lima,Universidad Nacional de Educación Enrique Guzm...
17,Pasco,Pasco,Universidad Nacional Daniel Alcides Carrión
18,Callao,Callao,Universidad Nacional del Callao
19,Lima,Huaura,Universidad Nacional José Faustino Sánchez Car...
20,Lambayeque,Lambayeque,Universidad Nacional Pedro Ruiz Gallo
21,Tacna,Tacna,Universidad Nacional Jorge Basadre Grohmann
22,Ancash,Huaraz,Universidad Nacional Santiago Antúnez de Mayolo
23,San Martín,San Martín,Universidad Nacional de San Martín
24,Ucayali,Coronel Portillo,Universidad Nacional de Ucayali
25,Tumbes,Tumbes,Universidad Nacional de Tumbes
26,Ancash,Santa,Universidad Nacional del Santa
27,Huancavelica,Huancavelica,Universidad Nacional de Huancavelica
28,Madre De Dios,Tambopata,Universidad Nacional Amazónica de Madre de Dios
29,Amazonas,Chachapoyas,Universidad Nacional Toribio Rodríguez de Mend...
30,Apurímac,Abancay,Universidad Nacional Micaela Bastidas de Apurímac
31,Ucayali,Coronel Portillo,Universidad Nacional Intercultural de la Amazonía
32,Lima,Lima,Universidad Nacional Tecnológica de Lima Sur (*1)
33,Apurímac,Andahuaylas,Universidad Nacional José María Arguedas
34,Moquegua,Mariscal Nieto,Universidad Nacional de Moquegua
35,Puno,San Román,Universidad Nacional de Juliaca
36,Cajamarca,Jaén,Universidad Nacional de Jaén
37,Piura,Sullana,Universidad Nacional de Frontera
38,Cajamarca,Chota,Universidad Nacional Autónoma de Chota
39,Lima,Barranca,Universidad Nacional de Barranca
40,Lima,Cañete,Universidad Nacional de Cañete
41,Amazonas,Bagua,Universidad Nacional Intercultural Fabiola Sal...
42,Junín,Chanchamayo,Universidad Nacional Intercultural de la Selva...
43,Cusco,La Convención,Universidad Nacional Intercultural de Quillabamba
44,Loreto,Alto Amazonas,Universidad Nacional Autónoma de Alto Amazonas
45,Junín,Tarma,Universidad Nacional Autónoma Altoandina de Tarma
46,Ayacucho,Huanta,Universidad Nacional Autónoma de Huanta
47,Lima,Lima,Universidad Nacional Tecnológica de San Juan d...
48,Lima,Lima,Universidad Autónoma Municipal de Los Olivos
49,Huancavelica,Tayacaja,Universidad Nacional Autónoma de Tayacaja Dani...
50,La Libertad,Sanchez Carrión,Universidad Nacional Ciro Alegría

# Extraction and cleaning of the private universities table

In [7]:
unis_privadas = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/ul/li[2]" )
unis_privadas.click()
unis_privadas = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[2]/div" )
table_unis_privadas = unis_privadas.get_attribute( 'innerHTML' )
table2 = pd.read_html( table_unis_privadas )[0]
table2

<ipython-input-7-9c3a1bbead75>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  unis_privadas = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/ul/li[2]" )
<ipython-input-7-9c3a1bbead75>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  unis_privadas = driver.find_element_by_xpath( "/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[2]/div" )

,N°,UNIVERSIDAD,DEPARTAMENTO,PROVINCIA,DISPOSITIVO LEGAL DE CREACIÓN,FECHA DE CREACIÓN,DISPOSITIVO LEGAL DE LICENCIAMIENTO O DENEGATORIA,FECHA DE PUB. DIARIO EL PERUANO,CONDICIÓN JURÍDICA
0,1,Pontificia Universidad Católica del Perú,Lima,Lima,Decreto Supremo,24/03/1917,Res. N° 025-2016-SUNEDU/CD,06/07/2016,Asociativa
1,2,Universidad Peruana Cayetano Heredia,Lima,Lima,Decreto Supremo N° 18,22/09/1961,Res. N° 029-2016-SUNEDU/CD,27/07/2016,Asociativa
2,3,Universidad Católica de Santa María,Arequipa,Arequipa,Decreto Supremo N° 24,06/12/1961,Res. N° 102-2017-SUNEDU/CD,31/12/2017,Asociativa
3,4,Universidad del Pacífico,Lima,Lima,Decreto Supremo N° 08,28/02/1962,Res. N° 030-2016-SUNEDU/CD,27/07/2016,Asociativa
4,5,Universidad de Lima,Lima,Lima,Decreto Supremo N° 23,25/04/1962,Res. N° 027-2016-SUNEDU/CD,12/07/2016,Asociativa
...,...,...,...,...,...,...,...,...,...
87,88,Universidad Santo Tomás de Aquino de Ciencia e...,Junín,Huancayo,Res. N° 407-2012-CONAFU,25/07/2012,NaN,NaN,Societaria
88,89,Universidad Privada SISE,Lima,Lima,Res. N° 408-2012-CONAFU,25/07/2012,NaN,NaN,Societaria
89,90,Universidad Seminario Evangélico de Lima (*12),Lima,Lima,Ley N° 30220,09/07/2014,NaN,NaN,Asociativa
90,91,Universidad Seminario Bíblico Andino (*12),Lima,Lima,Ley N° 30220,09/07/2014,NaN,NaN,Asociativa
91,92,Universidad Católica San José,Lima,Lima,Real Cédula de Fundación,12/05/1551,NaN,NaN,Asociativa

In [8]:
table3 = table2.iloc[ : ,[2, 3, 1]]
table3

   DEPARTAMENTO PROVINCIA                                        UNIVERSIDAD
0          Lima      Lima           Pontificia Universidad Católica del Perú
1          Lima      Lima               Universidad Peruana Cayetano Heredia
2      Arequipa  Arequipa                Universidad Católica de Santa María
3          Lima      Lima                           Universidad del Pacífico
4          Lima      Lima                                Universidad de Lima
..          ...       ...                                                ...
87        Junín  Huancayo  Universidad Santo Tomás de Aquino de Ciencia e...
88         Lima      Lima                           Universidad Privada SISE
89         Lima      Lima     Universidad Seminario Evangélico de Lima (*12)
90         Lima      Lima         Universidad Seminario Bíblico Andino (*12)
91         Lima      Lima                      Universidad Católica San José

[92 rows x 3 columns]

# Merging both tables

In [9]:
table4 = pd.concat([table1, table3])
table4

   DEPARTAMENTO PROVINCIA                                        UNIVERSIDAD
0          Lima      Lima           Universidad Nacional Mayor de San Marcos
1      Ayacucho  Huamanga  Universidad Nacional de San Cristóbal de Huamanga
2         Cusco     Cusco  Universidad Nacional de San Antonio Abad del C...
3   La Libertad  Trujillo                   Universidad Nacional de Trujillo
4      Arequipa  Arequipa    Universidad Nacional de San Agustín de Arequipa
..          ...       ...                                                ...
87        Junín  Huancayo  Universidad Santo Tomás de Aquino de Ciencia e...
88         Lima      Lima                           Universidad Privada SISE
89         Lima      Lima     Universidad Seminario Evangélico de Lima (*12)
90         Lima      Lima         Universidad Seminario Bíblico Andino (*12)
91         Lima      Lima                      Universidad Católica San José

[143 rows x 3 columns]

# Geocoding

In [10]:
API_KEY = 'AIzaSyBEdjj0KkQ1Zr0kpzgLk_bG5M4Mi7qXsE4'

In [11]:
def join_columns( row_series ):
    
    
    return address

In [12]:
def get_results( result_api ):
    
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( lat, lon )

In [13]:
def geo_unis( row_series ):
    
    address = f"{ row_series[ 'UNIVERSIDAD' ]}, { row_series[ 'PROVINCIA' ]}"
    
    # Set Geolocation
    gmaps = googlemaps.Client( key = 'AIzaSyBEdjj0KkQ1Zr0kpzgLk_bG5M4Mi7qXsE4' )
    result_api = gmaps.geocode( address , region = 'PE' )
    
    # Information
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( address, lat, lon )

In [14]:
table4['results'] = table4.apply( lambda x: geo_unis( x )  , axis = 1 )

In [15]:
table4

,DEPARTAMENTO,PROVINCIA,UNIVERSIDAD,results
0,Lima,Lima,Universidad Nacional Mayor de San Marcos,"(Universidad Nacional Mayor de San Marcos, Lim..."
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,(Universidad Nacional de San Cristóbal de Huam...
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...,(Universidad Nacional de San Antonio Abad del ...
3,La Libertad,Trujillo,Universidad Nacional de Trujillo,"(Universidad Nacional de Trujillo, Trujillo, -..."
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa,(Universidad Nacional de San Agustín de Arequi...
...,...,...,...,...
87,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,(Universidad Santo Tomás de Aquino de Ciencia ...
88,Lima,Lima,Universidad Privada SISE,"(Universidad Privada SISE, Lima, -12.0776452, ..."
89,Lima,Lima,Universidad Seminario Evangélico de Lima (*12),(Universidad Seminario Evangélico de Lima (*12...
90,Lima,Lima,Universidad Seminario Bíblico Andino (*12),"(Universidad Seminario Bíblico Andino (*12), L..."
91,Lima,Lima,Universidad Católica San José,"(Universidad Católica San José, Lima, -12.0836..."

In [16]:
table4[['addres', 'lat', 'lng']] = pd.DataFrame( table4.results.tolist() ,  index = table4.index )

In [30]:
table5 = table4[["DEPARTAMENTO", "PROVINCIA","UNIVERSIDAD", "lat","lng"]].rename(columns={'DEPARTAMENTO': 'Department_univ', 'PROVINCIA': 'Province_univ','UNIVERSIDAD':'Name_univ','lat': 'Latitude_univ', 'lng' : 'Longitude_univ'})
table5

,Department_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ
0,Lima,Lima,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,-13.161248,-74.225772
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321
3,La Libertad,Trujillo,Universidad Nacional de Trujillo,-8.115007,-79.038305
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa,-16.397139,-71.537144
...,...,...,...,...,...
87,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488
88,Lima,Lima,Universidad Privada SISE,-12.077645,-77.035855
89,Lima,Lima,Universidad Seminario Evangélico de Lima (*12),-12.063959,-76.960074
90,Lima,Lima,Universidad Seminario Bíblico Andino (*12),-12.069621,-77.053398
91,Lima,Lima,Universidad Católica San José,-12.083682,-77.069168

In [31]:
table6 = pd.read_excel('peru_departments_centroids.xlsx')
table6

,CCDD,NOMBDEP,CAPITAL,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
0,1,AMAZONAS,CHACHAPOYAS,-5.069369,-78.055235
1,2,ANCASH,HUARAZ,-9.406368,-77.670229
2,3,APURIMAC,ABANCAY,-14.028147,-72.974732
3,4,AREQUIPA,AREQUIPA,-15.844475,-72.472918
4,5,AYACUCHO,AYACUCHO,-14.086284,-74.083968
5,6,CAJAMARCA,CAJAMARCA,-6.432297,-78.745878
6,7,CALLAO,CALLAO,-11.940800,-77.126022
7,8,CUSCO,CUSCO,-13.189060,-72.170789
8,9,HUANCAVELICA,HUANCAVELICA,-13.023206,-75.002090
9,10,HUANUCO,HUANUCO,-9.416089,-76.024205
10,11,ICA,ICA,-14.233761,-75.574814
11,12,JUNIN,HUANCAYO,-11.538922,-74.876839
12,13,LA LIBERTAD,TRUJILLO,-7.921689,-78.368017
13,14,LAMBAYEQUE,CHICLAYO,-6.340478,-79.826995
14,15,LIMA,LIMA,-11.785115,-76.628934
15,16,LORETO,IQUITOS,-4.114622,-74.412649
16,17,MADRE DE DIOS,PUERTO MALDONADO,-11.982106,-70.530759
17,18,MOQUEGUA,MOQUEGUA,-16.858546,-70.837182
18,19,PASCO,CERRO DE PASCO,-10.398817,-75.297587
19,20,PIURA,PIURA,-5.127846,-80.336263
20,21,PUNO,PUNO,-14.923763,-69.950299
21,22,SAN MARTIN,MOYOBAMBA,-7.033278,-76.714790
22,23,TACNA,TACNA,-17.644209,-70.276149
23,24,TUMBES,TUMBES,-3.856391,-80.544689
24,25,UCAYALI,PUCALLPA,-9.623529,-73.430992

In [32]:
table6 = table6[['NOMBDEP', 'CAPITAL', 'Dpt_Centroid_Latitude', 'Dpt_Centroid_Longitude']]
table6['NOMBDEP'] = table6['NOMBDEP'].apply(lambda x: x.title())
table6['CAPITAL'] = table6['CAPITAL'].apply(lambda x: x.title())
table6

<ipython-input-32-cd8a68fab216>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table6['NOMBDEP'] = table6['NOMBDEP'].apply(lambda x: x.title())
<ipython-input-32-cd8a68fab216>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table6['CAPITAL'] = table6['CAPITAL'].apply(lambda x: x.title())

,NOMBDEP,CAPITAL,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
0,Amazonas,Chachapoyas,-5.069369,-78.055235
1,Ancash,Huaraz,-9.406368,-77.670229
2,Apurimac,Abancay,-14.028147,-72.974732
3,Arequipa,Arequipa,-15.844475,-72.472918
4,Ayacucho,Ayacucho,-14.086284,-74.083968
5,Cajamarca,Cajamarca,-6.432297,-78.745878
6,Callao,Callao,-11.940800,-77.126022
7,Cusco,Cusco,-13.189060,-72.170789
8,Huancavelica,Huancavelica,-13.023206,-75.002090
9,Huanuco,Huanuco,-9.416089,-76.024205
10,Ica,Ica,-14.233761,-75.574814
11,Junin,Huancayo,-11.538922,-74.876839
12,La Libertad,Trujillo,-7.921689,-78.368017
13,Lambayeque,Chiclayo,-6.340478,-79.826995
14,Lima,Lima,-11.785115,-76.628934
15,Loreto,Iquitos,-4.114622,-74.412649
16,Madre De Dios,Puerto Maldonado,-11.982106,-70.530759
17,Moquegua,Moquegua,-16.858546,-70.837182
18,Pasco,Cerro De Pasco,-10.398817,-75.297587
19,Piura,Piura,-5.127846,-80.336263
20,Puno,Puno,-14.923763,-69.950299
21,San Martin,Moyobamba,-7.033278,-76.714790
22,Tacna,Tacna,-17.644209,-70.276149
23,Tumbes,Tumbes,-3.856391,-80.544689
24,Ucayali,Pucallpa,-9.623529,-73.430992

In [40]:
table7 = table5.merge(table6, how = 'left',left_on=['Department_univ'],right_on=['NOMBDEP'])
table7

,Department_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ,NOMBDEP,CAPITAL,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
0,Lima,Lima,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520,Lima,Lima,-11.785115,-76.628934
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,-13.161248,-74.225772,Ayacucho,Ayacucho,-14.086284,-74.083968
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321,Cusco,Cusco,-13.189060,-72.170789
3,La Libertad,Trujillo,Universidad Nacional de Trujillo,-8.115007,-79.038305,La Libertad,Trujillo,-7.921689,-78.368017
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa,-16.397139,-71.537144,Arequipa,Arequipa,-15.844475,-72.472918
...,...,...,...,...,...,...,...,...,...
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488,NaN,NaN,NaN,NaN
139,Lima,Lima,Universidad Privada SISE,-12.077645,-77.035855,Lima,Lima,-11.785115,-76.628934
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12),-12.063959,-76.960074,Lima,Lima,-11.785115,-76.628934
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12),-12.069621,-77.053398,Lima,Lima,-11.785115,-76.628934
142,Lima,Lima,Universidad Católica San José,-12.083682,-77.069168,Lima,Lima,-11.785115,-76.628934

In [41]:
table7.drop(table7.columns[5], axis=1, inplace=True)
table7.drop(table7.columns[5], axis=1, inplace=True)
table7

,Department_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
0,Lima,Lima,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520,-11.785115,-76.628934
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,-13.161248,-74.225772,-14.086284,-74.083968
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321,-13.189060,-72.170789
3,La Libertad,Trujillo,Universidad Nacional de Trujillo,-8.115007,-79.038305,-7.921689,-78.368017
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa,-16.397139,-71.537144,-15.844475,-72.472918
...,...,...,...,...,...,...,...
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488,NaN,NaN
139,Lima,Lima,Universidad Privada SISE,-12.077645,-77.035855,-11.785115,-76.628934
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12),-12.063959,-76.960074,-11.785115,-76.628934
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12),-12.069621,-77.053398,-11.785115,-76.628934
142,Lima,Lima,Universidad Católica San José,-12.083682,-77.069168,-11.785115,-76.628934

In [ ]:
endpoint = 'https://maps.googleapis.com/maps/api/directions/json?'


traffic_model = 'best_guess'  

departure_time= 'now'

mode = 'driving'

api_key = API_KEY

region = 'pe'

origin = "Lima"

destination = "Callao"


nav_request = 'origin={}&destination={}&departure_time={}&traffic_model={}&mode={}&region={}&key={}'.format(origin , 
                destination , departure_time , traffic_model , mode, region, api_key)


request = endpoint + nav_request

response = urllib.request.urlopen(request).read()

directions = json.loads(response)

legs = directions['routes'][0]['legs'][0]
        
        
        distance_info[i][0] = c
        distance_info[i][1] = float(re.sub("[^0-9.]", "", legs['distance']['text']))
        distance_info[i][2] = legs['distance']['value']

        distance_info[i][3] = float(re.sub("[^0-9.]", "", legs['duration']['text']))
        distance_info[i][4] = legs['duration']['value']
        
        distance_info[i][5] = float(re.sub("[^0-9.]", "", legs['duration_in_traffic']['text']))
        distance_info[i][6] = legs['duration_in_traffic']['value']
        
        i=i+1
        
        my_keys = ['distance', 'duration', 'duration_in_traffic']
        info = { my_key: legs[my_key] for my_key in my_keys }
        data_distance[c] = info 
    
    except Exception as e:
        
        distance_info[i][0] = c
        
        distance_info[i][1] = "nan"
        distance_info[i][2] = "nan"

        distance_info[i][3] = "nan"
        distance_info[i][4] = "nan"
        
        distance_info[i][5] = "nan"
        distance_info[i][6] = "nan"
        
        i=i+1