## 1 Assignment 2

In [41]:
# pip install pyreadstat
# pip install savReaderWriter

In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat
import savReaderWriter as sav

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [2]:
#Base REC0111
rec_1 = pd.read_spss ( r"..\..\_data\endes\2019\REC0111.sav", usecols=None, convert_categoricals=True )
rec_1

#with sav.SavHeaderReader( r"..\..\_data\endes\2019\REC0111.sav", ioUtf8=True) as header:
 #   metadata = header.all()
  #  value_labels1 = metadata.valueLabels
   # var_labels1 = metadata.varLabels
      
rec1, meta = pyreadstat.read_sav( r"../../_data/endes/2019/REC0111.sav" )
value_labels1 = meta.variable_value_labels
var_labels1 = meta.column_names_to_labels

In [3]:
#Base REC0111 - Adding values an var lables

#rec_1.attrs[ 'value_labels1' ] = metadata.valueLabels
#rec_1.attrs[ 'var_labels1' ] = metadata.varLabels

rec_1.attrs[ 'value_labels1' ] = meta.variable_value_labels
rec_1.attrs[ 'var_labels1' ] = meta.column_names_to_labels

In [4]:
#Base RE223132
rec_2 = pd.read_spss ( r"..\..\_data\endes\2019\RE223132.sav", usecols=None, convert_categoricals=True )
rec_2

#with sav.SavHeaderReader( r"..\..\_data\endes\2019\RE223132.sav", ioUtf8=True) as header:
 #   metadata = header.all()
  #  value_labels2 = metadata.valueLabels
   # var_labels2 = metadata.varLabels
    
rec2, meta = pyreadstat.read_sav( r"../../_data/endes/2019/RE223132.sav" )
value_labels2 = meta.variable_value_labels
var_labels2 = meta.column_names_to_labels

In [5]:
#Base RE223132- Adding values an var lables

#rec_2.attrs[ 'value_labels2' ] = metadata.valueLabels
#rec_2.attrs[ 'var_labels2' ] = metadata.varLabels

rec_2.attrs[ 'value_labels2' ] = meta.variable_value_labels
rec_2.attrs[ 'var_labels2' ] = meta.column_names_to_labels

In [6]:
#Base RE516171
rec_3 = pd.read_spss ( r"..\..\_data\endes\2019\RE516171.sav", usecols=None, convert_categoricals=True )
rec_3

#with sav.SavHeaderReader( r"..\..\_data\endes\2019\RE516171.sav", ioUtf8=True) as header:
 #   metadata = header.all()
  #  value_labels3 = metadata.valueLabels
   # var_labels3 = metadata.varLabels
    
rec3, meta = pyreadstat.read_sav( r"../../_data/endes/2019/RE516171.sav" )
value_labels3 = meta.variable_value_labels
var_labels3 = meta.column_names_to_labels

In [7]:
#Base RE516171 - Adding values an var lables

#rec_3.attrs[ 'value_labels3' ] = metadata.valueLabels
#rec_3.attrs[ 'var_labels3' ] = metadata.varLabels

rec_3.attrs[ 'value_labels3' ] = meta.variable_value_labels
rec_3.attrs[ 'var_labels3' ] = meta.column_names_to_labels

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [8]:
#Select columns and update values: rec1_1
b1 = ('CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V008', 'V009', 'V010', 'V011', 'V012', 
      'V024','V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133')
rec1_1 = rec_1.loc [ :, b1 ]
rec1_1

new_value_labels1 = { key: value_labels1 [ key ] for key in b1 if key in value_labels1.keys() }
new_var_labels1 = { key: var_labels1 [ key ] for key in b1 }

In [9]:
#Select columns and update values: rec2_1
b2 = ('CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 
                 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380')
rec2_1 = rec_2.loc [ :, b2 ]
rec2_1

new_value_labels2 = { key: value_labels2 [ key ] for key in b2 if key in value_labels2.keys() }
new_var_labels2 = { key: var_labels2 [ key ] for key in b2 }

In [10]:
#Select columns and update values: rec3_1
b3= ('CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 
                 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715')
rec3_1 = rec_3.loc [ :, b3 ]
rec3_1

new_value_labels3 = { key: value_labels3 [ key ] for key in b3 if key in value_labels3.keys() }
new_var_labels3 = { key: var_labels3 [ key ] for key in b3 }

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [11]:
#Generate new variable and updte dictionary
rec1_1["year"] = 2019
new_key = {'Year': 'Year of the survey'}
new_var_labels1.update(new_key)
new_var_labels1

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'Year': 'Year of the survey'}

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [12]:
#Merge rec1_1, rec2_1, and rec3_1 using CASEID. Name this new object as endes_2019
#endes_2019 = rec1_1.merge(rec2_1, on='CASEID', how='inner')
#endes_2019 = endes_2019.merge(rec3_1, on='CASEID', how='inner')
endes_2019 = rec1_1.merge(rec2_1, on='CASEID', how='left').merge(rec3_1, on='CASEID', how='left') 
endes_2019

,CASEID,V000,V001,V002,V003,V004,V008,V009,V010,V011,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,1434.0,4.0,1986.0,1036.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,1434.0,1.0,2007.0,1285.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,1434.0,6.0,1983.0,1002.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,1434.0,3.0,1970.0,843.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,1434.0,5.0,1991.0,1097.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,1440.0,12.0,1971.0,864.0,...,1985.0,1032.0,Tiene mes y año,14.0,34.0,De 30 a más años,12.0,3.0,No,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,1440.0,6.0,1988.0,1063.0,...,2002.0,1236.0,Tiene mes y año,14.0,17.0,De 15 a 19 años,12.0,3.0,No,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,1440.0,7.0,1973.0,883.0,...,1986.0,1043.0,Tiene mes y año,13.0,33.0,De 30 a más años,12.0,4.0,No,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,1440.0,12.0,1994.0,1140.0,...,2008.0,1301.0,Tiene mes y año,13.0,11.0,De 10 a 14 años,13.0,2.0,No,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,1440.0,10.0,1996.0,1163.0,...,2013.0,1362.0,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_2019_ta` object **Hint: Use `update` method.**

In [13]:
#Unify all the new_var_labels in one object and new_value_labels

#Var labels
new_var_labels1.update(new_var_labels2)
new_var_labels1.update(new_var_labels3)
var_labels = new_var_labels1.copy()

#Value labels
new_value_labels1.update(new_value_labels2)
new_value_labels1.update(new_value_labels3)
value_labels = new_value_labels1.copy()

In [14]:
#New attributes for endes_2019.
endes_2019.attrs[ 'value_labels' ] = value_labels
endes_2019.attrs[ 'var_labels' ] = var_labels

#### Comparing if final output is equal to endes_2019_ta object

In [15]:
len(endes_2019)

38335

In [17]:
endes_2019.head()  # 5x63

,CASEID,V000,V001,V002,V003,V004,V008,V009,V010,V011,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,1434.0,4.0,1986.0,1036.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,1434.0,1.0,2007.0,1285.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,1434.0,6.0,1983.0,1002.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,1434.0,3.0,1970.0,843.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,1434.0,5.0,1991.0,1097.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0

In [ ]:
output = urllib.request.urlopen(r'https://www.dropbox.com/s/gwcssinb1j9zr6s/endes_2019_ta.pkl?dl=1')
endes_2019_ta = pickle.load( output )

In [ ]:
len(endes_2019_ta)

In [ ]:
endes_2019_ta.head()  # 5x76