### Assignment 3

## Question 1

In [2]:
import pandas as pd
import numpy as np
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [3]:
import statsmodels.formula.api as smf
import pickle
import scipy.stats as stats

In [4]:
greene

,id,YEAR,COST,Q,PL,SL,PK,SK,PF,SF
0,1,1970,0.2130,8.0,6869.47,0.3291,64.945,0.4197,18.000,0.2512
1,4,1970,3.0427,869.0,8372.96,0.1030,68.227,0.2913,21.067,0.6057
2,5,1970,9.4059,1412.0,7960.90,0.0891,40.692,0.1567,41.530,0.7542
3,14,1970,0.7606,65.0,8971.89,0.2802,41.243,0.1282,28.539,0.5916
4,15,1970,2.2587,295.0,8218.40,0.1772,71.940,0.1623,39.200,0.6606
...,...,...,...,...,...,...,...,...,...,...
153,214,1970,6.8293,946.6,10642.16,0.0883,43.600,0.1914,51.463,0.7203
154,215,1970,3.7605,377.0,7432.24,0.2117,74.120,0.2274,33.436,0.5609
155,216,1970,3.9822,391.0,5826.04,0.1926,78.288,0.0924,44.633,0.7151
156,217,1970,30.1880,5317.0,9586.63,0.0845,78.008,0.2009,41.840,0.7147
157,218,1970,67.8562,15220.0,6986.09,0.1451,74.025,0.2596,25.662,0.5945

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

In [5]:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [6]:
lnct = np.log(ct)
lnq = np.log(q)
lnp1 = np.log(p1)
lnp2 = np.log(p2)
lnp3 = np.log(p3)

In [7]:
lnq_2 = np.multiply(lnq,lnq)
lnqlnp1 = np.multiply(lnq,lnp1)
lnqlnp2 = np.multiply(lnq,lnp2)
lnqlnp3 = np.multiply(lnq,lnp3)

In [8]:
lnp1_2 = np.multiply(lnp1,lnp1) 
lnp2_2 = np.multiply(lnp2,lnp2) 
lnp3_2 = np.multiply(lnp3,lnp3)

In [9]:
lnp1lnp2 = np.multiply (lnp1,lnp2)
lnp1lnp3 = np.multiply (lnp1,lnp3)
lnp2lnp3 = np.multiply (lnp2,lnp3)

In [10]:
#We have a look at the results that we should get
results = smf.ols( 'lnct ~ lnq + lnq_2 + lnqlnp1 + lnqlnp2 + lnqlnp3 + lnp1 + lnp2 + lnp3 + lnp1_2 + lnp2_2 + lnp3_2 + lnp1lnp2 + lnp1lnp3 + lnp2lnp3',
                  data = greene)

In [11]:
X_test = pd.DataFrame(results.exog, columns = results.exog_names).iloc[ : , 1: ]
y_test = pd.Series(results.endog , name = results.endog_names )
intercept_test = True

In [12]:
beta_OLS_output_test = results.fit().summary2().tables[1].iloc[ :, [0]]

In [13]:
beta_OLS_output_test

               Coef.
Intercept -76.259261
lnq        -1.080425
lnq_2       0.026489
lnqlnp1     0.131041
lnqlnp2     0.058652
lnqlnp3     0.040144
lnp1       14.718293
lnp2       -0.894733
lnp3        6.380797
lnp1_2     -0.769264
lnp2_2     -0.036753
lnp3_2     -0.163707
lnp1lnp2    0.162283
lnp1lnp3   -0.572050
lnp2lnp3   -0.024025

.
$$
\widehat{\boldsymbol{\beta}}^{(OLS)} = \left( \mathbf{X}^\top \mathbf{X}\right)^{-1} \mathbf{X}^\top \mathbf{Y}
$$
â€‹

In [14]:
X_input = pd.DataFrame()
y_input = pd.DataFrame()

In [15]:
y_input['lnct'] = lnct
X_input['lnq'] = lnq
X_input['lnq_2'] = lnq_2
X_input['lnqlnp1'] = lnqlnp1
X_input['lnqlnp2'] = lnqlnp2
X_input['lnqlnp3'] = lnqlnp3
X_input['lnp1'] = lnp1
X_input['lnp2'] = lnp2
X_input['lnp3'] = lnp3
X_input['lnp1_2'] = lnp1_2
X_input['lnp2_2'] = lnp2_2
X_input['lnp3_2'] = lnp3_2
X_input['lnp1lnp2'] = lnp1lnp2
X_input['lnp1lnp3'] = lnp1lnp3
X_input['lnp2lnp3'] = lnp2lnp3

In [16]:
def beta_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1)
        betas = np.linalg.inv(X_.T @ X_) @ X_.T @ y
        betas['Params'] = X_.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas
    else:
        betas = np.linalg.inv(X.T @ X) @ X.T @ y
        betas['Params'] = X.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas

In [17]:
beta_OLS (X_input,y_input)

               Coefs
Params
Intercept -76.259258
lnq        -1.080425
lnq_2       0.026489
lnqlnp1     0.131041
lnqlnp2     0.058652
lnqlnp3     0.040144
lnp1       14.718292
lnp2       -0.894733
lnp3        6.380797
lnp1_2     -0.769264
lnp2_2     -0.036753
lnp3_2     -0.163707
lnp1lnp2    0.162283
lnp1lnp3   -0.572050
lnp2lnp3   -0.024025

In [18]:
beta_OLS (X_input,y_input, False)

             Coefs
Params
lnq      -1.070405
lnq_2     0.025880
lnqlnp1   0.129652
lnqlnp2   0.059482
lnqlnp3   0.042202
lnp1      1.034946
lnp2     -1.331499
lnp3     -0.290481
lnp1_2   -0.150969
lnp2_2   -0.050645
lnp3_2    0.020552
lnp1lnp2  0.213817
lnp1lnp3 -0.004674
lnp2lnp3 -0.013750

## Question 2

In [19]:
def var_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1) # Add a column of 1's at the front of the df
        names = X_.columns.tolist()
        n = X_.shape[0]
        k = X_.shape[1]
        betas = np.linalg.inv(X_.T @ X_) @ X_.T @ y
        resid = y - np.dot(X_, betas)
        resid_2 = np.square(resid)
        sigma_hat = (resid_2.sum().values) / (n - k)
        var_cov_matrix = sigma_hat * np.linalg.inv(X_.T @ X_)
        var_cov_matrix = pd.DataFrame(var_cov_matrix, columns=names)
        var_cov_matrix['Index'] = names
        var_cov_matrix.set_index('Index', inplace=True)
        return var_cov_matrix
    
    else:
        names = X.columns.tolist()
        n = X.shape[0]
        k = X.shape[1]
        betas = np.linalg.inv(X.T @ X) @ X.T @ y
        resid = y - np.dot(X, betas)
        resid_2 = np.square(resid)
        sigma_hat = (resid_2.sum().values) / (n - k)
        var_cov_matrix = sigma_hat * np.linalg.inv(X.T @ X)
        var_cov_matrix = pd.DataFrame(var_cov_matrix, columns=names)
        var_cov_matrix['Index'] = names
        var_cov_matrix.set_index('Index', inplace=True)
        return var_cov_matrix

In [20]:
var_OLS(X_input,y_input)

,Intercept,lnq,lnq_2,lnqlnp1,lnqlnp2,lnqlnp3,lnp1,lnp2,lnp3,lnp1_2,lnp2_2,lnp3_2,lnp1lnp2,lnp1lnp3,lnp2lnp3
Index,,,,,,,,,,,,,,,
Intercept,1465.361102,0.192537,-0.011698,-0.026677,0.015949,0.039538,-262.932563,-8.392679,-128.192044,11.880856,-0.266944,3.540639,0.990253,10.902440,0.197435
lnq,0.192537,0.141034,0.000308,-0.013459,0.000161,-0.006089,-0.186223,0.148320,-0.090714,0.015321,0.000381,-0.000898,-0.015046,0.017546,-0.003570
lnq_2,-0.011698,0.000308,0.000006,-0.000036,-0.000005,-0.000011,0.001491,0.001052,0.000862,-0.000043,0.000013,-0.000060,-0.000099,-0.000014,-0.000048
lnqlnp1,-0.026677,-0.013459,-0.000036,0.001466,-0.000168,0.000348,0.021561,-0.015127,0.005430,-0.001961,0.000019,0.000285,0.001850,-0.001141,-0.000085
lnqlnp2,0.015949,0.000161,-0.000005,-0.000168,0.000653,-0.000189,-0.008293,0.003306,0.008035,0.000587,-0.000170,-0.000103,-0.000170,-0.000144,-0.001375
lnqlnp3,0.039538,-0.006089,-0.000011,0.000348,-0.000189,0.000888,-0.000337,-0.008853,0.000268,0.000211,-0.000033,-0.000067,0.000102,-0.001537,0.002212
lnp1,-262.932563,-0.186223,0.001491,0.021561,-0.008293,-0.000337,50.194721,-1.253531,19.099542,-2.388986,0.070493,-0.420154,0.038416,-1.788158,0.132157
lnp2,-8.392679,0.148320,0.001052,-0.015127,0.003306,-0.008853,-1.253531,8.078742,-0.214871,0.161643,-0.058647,-0.033147,-0.685050,0.199482,-0.367388
lnp3,-128.192044,-0.090714,0.000862,0.005430,0.008035,0.000268,19.099542,-0.214871,20.513714,-0.705214,0.023665,-0.763050,0.036229,-1.555553,-0.072591
lnp1_2,11.880856,0.015321,-0.000043,-0.001961,0.000587,0.000211,-2.388986,0.161643,-0.705214,0.119855,-0.003079,0.011353,-0.013413,0.070381,-0.006656
lnp2_2,-0.266944,0.000381,0.000013,0.000019,-0.000170,-0.000033,0.070493,-0.058647,0.023665,-0.003079,0.008285,-0.002049,-0.001552,-0.002485,0.004467
lnp3_2,3.540639,-0.000898,-0.000060,0.000285,-0.000103,-0.000067,-0.420154,-0.033147,-0.763050,0.011353,-0.002049,0.048556,0.008386,0.043314,-0.006653
lnp1lnp2,0.990254,-0.015046,-0.000099,0.001850,-0.000170,0.000102,0.038416,-0.685050,0.036229,-0.013413,-0.001552,0.008386,0.072939,-0.015413,0.009949
lnp1lnp3,10.902440,0.017546,-0.000014,-0.001141,-0.000144,-0.001537,-1.788158,0.199482,-1.555553,0.070381,-0.002485,0.043314,-0.015413,0.138302,-0.010534
lnp2lnp3,0.197435,-0.003570,-0.000048,-0.000085,-0.001375,0.002212,0.132157,-0.367388,-0.072591,-0.006656,0.004467,-0.006653,0.009949,-0.010534,0.060678

In [21]:
var_OLS(X_input,y_input, False)

,lnq,lnq_2,lnqlnp1,lnqlnp2,lnqlnp3,lnp1,lnp2,lnp3,lnp1_2,lnp2_2,lnp3_2,lnp1lnp2,lnp1lnp3,lnp2lnp3
Index,,,,,,,,,,,,,,
lnq,0.143916,0.000316,-0.013733,0.000162,-0.006220,-0.154803,0.152503,-0.075394,0.014043,0.000424,-0.001391,-0.015489,0.016446,-0.003671
lnq_2,0.000316,0.000006,-0.000037,-0.000005,-0.000011,-0.000620,0.001005,-0.000165,0.000053,0.000011,-0.000032,-0.000093,0.000074,-0.000048
lnqlnp1,-0.013733,-0.000037,0.001495,-0.000171,0.000356,0.017120,-0.015595,0.003160,-0.001781,0.000015,0.000357,0.001906,-0.000962,-0.000083
lnqlnp2,0.000162,-0.000005,-0.000171,0.000666,-0.000193,-0.005543,0.003468,0.009624,0.000467,-0.000171,-0.000144,-0.000184,-0.000268,-0.001406
lnqlnp3,-0.006220,-0.000011,0.000356,-0.000193,0.000905,0.006897,-0.008805,0.003804,-0.000112,-0.000026,-0.000166,0.000077,-0.001869,0.002252
lnp1,-0.154803,-0.000620,0.017120,-0.005543,0.006897,3.078406,-2.816333,-3.982649,-0.262483,0.023061,0.219585,0.220554,0.171553,0.171038
lnp2,0.152503,0.001005,-0.015595,0.003468,-0.008805,-2.816333,8.196230,-0.968641,0.234424,-0.061416,-0.013134,-0.693384,0.267324,-0.373808
lnp3,-0.075394,-0.000165,0.003160,0.009624,0.003804,-3.982649,-0.968641,9.490986,0.341030,0.000319,-0.462655,0.125391,-0.614197,-0.056460
lnp1_2,0.014043,0.000053,-0.001781,0.000467,-0.000112,-0.262483,0.234424,0.341030,0.024013,-0.000934,-0.017711,-0.021884,-0.018386,-0.008427
lnp2_2,0.000424,0.000011,0.000015,-0.000171,-0.000026,0.023061,-0.061416,0.000319,-0.000934,0.008406,-0.001433,-0.001400,-0.000509,0.004596
lnp3_2,-0.001391,-0.000032,0.000357,-0.000144,-0.000166,0.219585,-0.013134,-0.462655,-0.017711,-0.001433,0.040826,0.006117,0.017321,-0.007277
lnp1lnp2,-0.015489,-0.000093,0.001906,-0.000184,0.000077,0.220554,-0.693384,0.125391,-0.021884,-0.001400,0.006117,0.073759,-0.023251,0.010018
lnp1lnp3,0.016446,0.000074,-0.000962,-0.000268,-0.001869,0.171553,0.267324,-0.614197,-0.018386,-0.000509,0.017321,-0.023251,0.058366,-0.012250
lnp2lnp3,-0.003671,-0.000048,-0.000083,-0.001406,0.002252,0.171038,-0.373808,-0.056460,-0.008427,0.004596,-0.007277,0.010018,-0.012250,0.061902

## Question 3

In [22]:
from scipy.stats import t

def reg_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1) # Add a column of 1's at the front of the df
        n = X_.shape[0]
        k = X_.shape[1]
        betas = beta_OLS(X, y)
        betas.reset_index(inplace=True)
        var_cov_matrix = var_OLS(X, y)
        std_err = pd.DataFrame(np.sqrt(np.diag(var_cov_matrix)), columns = ['Std.Err'])
        t_df = pd.concat([betas, std_err], axis=1)
        t_df['T_stat'] = t_df.apply(lambda x: x['Coefs']/x['Std.Err'], axis=1)
        t_df['P-Value'] = t_df['T_stat'].apply(lambda x: 1 - 2*np.abs(0.5 - np.vectorize(t.cdf)(x, n-k-1)))
        t_df['[0.025'] = t_df.apply(lambda x: x['Coefs'] - t.ppf(q = 1 - 0.05 / 2, df = n-k)*x['Std.Err'], axis=1)
        t_df['0.975]'] = t_df.apply(lambda x: x['Coefs'] + t.ppf(q = 1 - 0.05 / 2, df = n-k)*x['Std.Err'], axis=1)
        t_df.set_index('Params', inplace=True)
        return t_df
    
    else:
        n = X.shape[0]
        k = X.shape[1]
        betas = beta_OLS(X, y, False)
        betas.reset_index(inplace=True)
        var_cov_matrix = var_OLS(X, y, False)
        std_err = pd.DataFrame(np.sqrt(np.diag(var_cov_matrix)), columns = ['Std.Err'])
        t_df = pd.concat([betas, std_err], axis=1)
        t_df['T_stat'] = t_df.apply(lambda x: x['Coefs']/x['Std.Err'], axis=1)
        t_df['P-Value'] = t_df['T_stat'].apply(lambda x: 1 - 2*np.abs(0.5 - np.vectorize(t.cdf)(x, n-k-1)))
        t_df['[0.025'] = t_df.apply(lambda x: x['Coefs'] - t.ppf(q = 1 - 0.05 / 2, df = n-k)*x['Std.Err'], axis=1)
        t_df['0.975]'] = t_df.apply(lambda x: x['Coefs'] + t.ppf(q = 1 - 0.05 / 2, df = n-k)*x['Std.Err'], axis=1)
        t_df.set_index('Params', inplace=True)
        return t_df

In [23]:
reg_OLS(X_input, y_input)

               Coefs    Std.Err     T_stat   P-Value      [0.025     0.975]
Params
Intercept -76.259258  38.280035  -1.992142  0.048273 -151.927105  -0.591411
lnq        -1.080425   0.375545  -2.876952  0.004635   -1.822762  -0.338088
lnq_2       0.026489   0.002357  11.240060  0.000000    0.021831   0.031148
lnqlnp1     0.131041   0.038284   3.422854  0.000810    0.055365   0.206716
lnqlnp2     0.058652   0.025549   2.295650  0.023160    0.008149   0.109155
lnqlnp3     0.040144   0.029791   1.347518  0.179960   -0.018744   0.099033
lnp1       14.718292   7.084823   2.077440  0.039562    0.713777  28.722807
lnp2       -0.894733   2.842313  -0.314790  0.753383   -6.513110   4.723645
lnp3        6.380797   4.529207   1.408811  0.161077   -2.572051  15.333644
lnp1_2     -0.769264   0.346201  -2.222011  0.027865   -1.453597  -0.084930
lnp2_2     -0.036753   0.091019  -0.403791  0.686974   -0.216670   0.143165
lnp3_2     -0.163707   0.220354  -0.742927  0.458753   -0.599280   0.271866
lnp1lnp2    0.162283   0.270072   0.600888  0.548873   -0.371566   0.696132
lnp1lnp3   -0.572050   0.371890  -1.538224  0.126219   -1.307163   0.163062
lnp2lnp3   -0.024025   0.246329  -0.097531  0.922442   -0.510942   0.462892

In [24]:
reg_OLS(X_input, y_input, False)

             Coefs   Std.Err     T_stat   P-Value    [0.025    0.975]
Params
lnq      -1.070405  0.379362  -2.821591  0.005459 -1.820244 -0.320567
lnq_2     0.025880  0.002361  10.962820  0.000000  0.021214  0.030547
lnqlnp1   0.129652  0.038670   3.352769  0.001024  0.053218  0.206087
lnqlnp2   0.059482  0.025808   2.304809  0.022617  0.008471  0.110493
lnqlnp3   0.042202  0.030079   1.403049  0.162770 -0.017251  0.101655
lnp1      1.034946  1.754539   0.589868  0.556210 -2.433031  4.502924
lnp2     -1.331499  2.862906  -0.465086  0.642577 -6.990247  4.327250
lnp3     -0.290481  3.080744  -0.094289  0.925012 -6.379803  5.798842
lnp1_2   -0.150969  0.154961  -0.974238  0.331584 -0.457261  0.155323
lnp2_2   -0.050645  0.091683  -0.552394  0.581541 -0.231862  0.130573
lnp3_2    0.020552  0.202054   0.101717  0.919124 -0.378822  0.419927
lnp1lnp2  0.213817  0.271587   0.787287  0.432417 -0.322995  0.750629
lnp1lnp3 -0.004674  0.241591  -0.019345  0.984593 -0.482196  0.472848
lnp2lnp3 -0.013750  0.248801  -0.055265  0.956005 -0.505524  0.478024

# Question 4

Generate a new function named as "restricted_OLS" that uses your previos functions beta_OLS and var_OLS to return an ouput similar to reg_OLS_output. The inputs of this function should be X, y, L, r, [...]

$$
\hat{\boldsymbol{\beta}}^{(RLS)} =\hat{\boldsymbol{\beta}}^{(OLS)} - \left( \boldsymbol{X}^\top \boldsymbol{X} \right)^{-1} \boldsymbol{L}^\top \left( \boldsymbol{L}\left( \boldsymbol{X}^\top \boldsymbol{X} \right)^{-1} \boldsymbol{L}^\top \right)^{-1} \left( \boldsymbol{L}\widehat{\boldsymbol{\beta}}^{(OLS)} - \boldsymbol{r} \right)
$$

$$
\begin{aligned}
\mathbb{V}{\rm ar} \left(\widehat{\boldsymbol{\beta}}^{(RLS)} \right) 
&= \sigma^2 \left( \mathbf{X}^\top  \mathbf{X}\right)^{-1} - \sigma^2 \left( \mathbf{X}^\top  \mathbf{X}\right)^{-1}  \mathbf{L}^\top \left( \mathbf{L}\left( \mathbf{X}^\top \mathbf{X} \right)^{-1} \mathbf{L}^\top \right)^{-1}  \mathbf{L} \left( \mathbf{X}^\top  \mathbf{X}\right)^{-1}
\end{aligned}
$$

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

ST: 

<br>
$$
\begin{aligned} 
\beta_{1} + \beta_{2} + \beta_{3} &= 1 \\
\beta_{q1} + \beta_{q2} + \beta_{q3} &= 0 \\
\beta_{11} + \beta_{12} + \beta_{13} &= 0 \\
\beta_{21} + \beta_{22} + \beta_{23} &= 0 \\
\beta_{31} + \beta_{32} + \beta_{33} &= 0 \\
\beta_{ij} = \beta_{ji}
\end{aligned}
$$

In [29]:
L_input = np.array(( [ 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0 ], 
              [ 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0 ], 
              [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0 ], 
              [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1 ], 
              [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1 ] ) )

r_input = np.array(  [  1,  0,  0,  0,  0  ]  ).reshape( -1 , 1 )

In [34]:
def restricted_OLS(X:pd.DataFrame, y:pd.Series, L:np.ndarray, r:np.ndarray, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
         
    if not isinstance(L, np.ndarray):
        raise TypeError('L is not a Numpy Array')
        
    if not isinstance(r, np.ndarray): 
        raise TypeError('r is not a Numpy Array')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
        
    beta_OLSresult = beta_OLS (X_input, y_input)
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1)
        betas = beta_OLSresult-np.linalg.inv(X_.T @ X_) @ L.T @ np.linalg.inv(L @ np.linalg.inv (X_.T @ X_) @ L.T ) @ (L @ beta_OLSresult - r)
        betas['Params'] = X_.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas
    else:
        betas = beta_OLSresult-np.linalg.inv(X.T @ X) @ L.T @ np.linalg.inv(L @ np.linalg.inv (X.T @ X) @ L.T ) @ (L @ beta_OLSresult - r)
        betas['Params'] = X.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas

In [35]:
restricted_OLS (X_input, y_input, L_input, r_input)

ValueError: Length of values (15) does not match length of index (30)

In [36]:
beta_OLSresult = beta_OLS (X_input, y_input)

beta_OLSresult

               Coefs
Params
Intercept -76.259258
lnq        -1.080425
lnq_2       0.026489
lnqlnp1     0.131041
lnqlnp2     0.058652
lnqlnp3     0.040144
lnp1       14.718292
lnp2       -0.894733
lnp3        6.380797
lnp1_2     -0.769264
lnp2_2     -0.036753
lnp3_2     -0.163707
lnp1lnp2    0.162283
lnp1lnp3   -0.572050
lnp2lnp3   -0.024025

$$
\hat{\boldsymbol{\beta}}^{(RLS)} =\hat{\boldsymbol{\beta}}^{(OLS)} - \left( \boldsymbol{X}^\top \boldsymbol{X} \right)^{-1} \boldsymbol{L}^\top \left( \boldsymbol{L}\left( \boldsymbol{X}^\top \boldsymbol{X} \right)^{-1} \boldsymbol{L}^\top \right)^{-1} \left( \boldsymbol{L}\widehat{\boldsymbol{\beta}}^{(OLS)} - \boldsymbol{r} \right)
$$

array([[ 8.50312544e+04,  1.11724274e+01, -6.78803822e-01,
        -1.54801813e+00,  9.25457827e-01,  2.29431536e+00,
        -1.52573217e+04, -4.87006258e+02, -7.43866501e+03,
         6.89416485e+02, -1.54901214e+01,  2.05454436e+02,
         5.74619429e+01,  6.32641437e+02,  1.14566554e+01],
       [ 1.11724267e+01,  8.18385964e+00,  1.78661191e-02,
        -7.81015826e-01,  9.32159073e-03, -3.53339864e-01,
        -1.08060852e+01,  8.60661979e+00, -5.26391430e+00,
         8.89015898e-01,  2.20986484e-02, -5.21154396e-02,
        -8.73106189e-01,  1.01817902e+00, -2.07186957e-01],
       [-6.78803825e-01,  1.78661191e-02,  3.22281847e-04,
        -2.09823503e-03, -3.07430455e-04, -6.36976890e-04,
         8.65447051e-02,  6.10511120e-02,  5.00005487e-02,
        -2.49447244e-03,  7.58685201e-04, -3.47196546e-03,
        -5.74077155e-03, -8.18812430e-04, -2.80074876e-03],
       [-1.54801807e+00, -7.81015826e-01, -2.09823503e-03,
         8.50489029e-02, -9.74542627e-03,  2.01796900e-02,
         1.25114135e+00, -8.77802891e-01,  3.15067702e-01,
        -1.13814560e-01,  1.11288614e-03,  1.65542818e-02,
         1.07345185e-01, -6.62218780e-02, -4.93315509e-03],
       [ 9.25457826e-01,  9.32159075e-03, -3.07430455e-04,
        -9.74542628e-03,  3.78783709e-02, -1.09585879e-02,
        -4.81233267e-01,  1.91847952e-01,  4.66242376e-01,
         3.40794468e-02, -9.87517833e-03, -5.96078481e-03,
        -9.85308218e-03, -8.37305511e-03, -7.98104249e-02],
       [ 2.29431540e+00, -3.53339864e-01, -6.36976890e-04,
         2.01796900e-02, -1.09585879e-02,  5.15009174e-02,
        -1.95512939e-02, -5.13743936e-01,  1.55563246e-02,
         1.22185101e-02, -1.92341305e-03, -3.89557553e-03,
         5.92839027e-03, -8.91856621e-02,  1.28367945e-01],
       [-1.52573217e+04, -1.08060853e+01,  8.65447045e-02,
         1.25114136e+00, -4.81233267e-01, -1.95512864e-02,
         2.91267461e+03, -7.27392878e+01,  1.10829886e+03,
        -1.38626888e+02,  4.09055443e+00, -2.43804626e+01,
         2.22917344e+00, -1.03762370e+02,  7.66873388e+00],
       [-4.87006276e+02,  8.60661977e+00,  6.10511121e-02,
        -8.77802889e-01,  1.91847952e-01, -5.13743935e-01,
        -7.27392843e+01,  4.68789283e+02, -1.24684440e+01,
         9.37973816e+00, -3.40311741e+00, -1.92344874e+00,
        -3.97517441e+01,  1.15754219e+01, -2.13186036e+01],
       [-7.43866499e+03, -5.26391433e+00,  5.00005484e-02,
         3.15067704e-01,  4.66242376e-01,  1.55563279e-02,
         1.10829885e+03, -1.24684452e+01,  1.19035974e+03,
        -4.09217878e+01,  1.37321297e+00, -4.42779019e+01,
         2.10228100e+00, -9.02648885e+01, -4.21227498e+00],
       [ 6.89416485e+02,  8.89015904e-01, -2.49447241e-03,
        -1.13814560e-01,  3.40794468e-02,  1.22185097e-02,
        -1.38626888e+02,  9.37973832e+00, -4.09217880e+01,
         6.95491423e+00, -1.78691458e-01,  6.58810258e-01,
        -7.78310816e-01,  4.08401433e+00, -3.86237413e-01],
       [-1.54901214e+01,  2.20986483e-02,  7.58685200e-04,
         1.11288616e-03, -9.87517834e-03, -1.92341304e-03,
         4.09055443e+00, -3.40311741e+00,  1.37321297e+00,
        -1.78691458e-01,  4.80730776e-01, -1.18917845e-01,
        -9.00622958e-02, -1.44210402e-01,  2.59199205e-01],
       [ 2.05454436e+02, -5.21154386e-02, -3.47196545e-03,
         1.65542817e-02, -5.96078481e-03, -3.89557562e-03,
        -2.43804625e+01, -1.92344871e+00, -4.42779019e+01,
         6.58810256e-01, -1.18917845e-01,  2.81758587e+00,
         4.86635580e-01,  2.51342221e+00, -3.86038280e-01],
       [ 5.74619447e+01, -8.73106187e-01, -5.74077156e-03,
         1.07345184e-01, -9.85308213e-03,  5.92839022e-03,
         2.22917309e+00, -3.97517440e+01,  2.10228088e+00,
        -7.78310799e-01, -9.00622963e-02,  4.86635583e-01,
         4.23245582e+00, -8.94393910e-01,  5.77338357e-01],
       [ 6.32641436e+02,  1.01817902e+00, -8.18812400e-04,
        -6.62218783e-02, -8.37305513e-03, -8.91856624e-02,
        -1.03762370e+02,  1.15754220e+01, -9.02648885e+01,
         4.08401432e+00, -1.44210402e-01,  2.51342221e+00,
        -8.94393921e-01,  8.02534157e+00, -6.11236975e-01],
       [ 1.14566559e+01, -2.07186957e-01, -2.80074876e-03,
        -4.93315510e-03, -7.98104249e-02,  1.28367945e-01,
         7.66873379e+00, -2.13186036e+01, -4.21227502e+00,
        -3.86237409e-01,  2.59199205e-01, -3.86038278e-01,
         5.77338358e-01, -6.11236971e-01,  3.52099972e+00]])

In [45]:
betas = beta_OLSresult-np.linalg.inv(X_.T @ X_) @ L_input.T @ np.linalg.inv(L_input @ (np.linalg.inv (X_.T @ X_)) @ L_input.T ) @ (L_input @ beta_OLSresult - r_input)
betas

(30, 1)

In [37]:
X_ = X_input.copy()
X_.insert(0, 'Intercept', 1)

In [38]:
X_

,Intercept,lnq,lnq_2,lnqlnp1,lnqlnp2,lnqlnp3,lnp1,lnp2,lnp3,lnp1_2,lnp2_2,lnp3_2,lnp1lnp2,lnp1lnp3,lnp2lnp3
0,1,2.079442,4.324077,18.371538,6.010359,8.678634,8.834842,2.890372,4.173541,78.054437,8.354249,17.418442,25.535978,36.872574,12.063084
1,1,6.767343,45.796933,61.127805,20.624885,28.577410,9.032763,3.047708,4.222840,81.590803,9.288523,17.832381,27.529222,38.143915,12.869984
2,1,7.252762,52.602563,65.146469,27.026810,26.878966,8.982297,3.726416,3.706032,80.681665,13.886177,13.734670,33.471777,33.288677,13.810215
3,1,4.174387,17.425509,37.994654,13.989505,15.526556,9.101852,3.351272,3.719481,82.843703,11.231021,13.834542,30.502777,33.854168,12.464992
4,1,5.686975,32.341689,51.263140,20.863674,24.316554,9.014131,3.668677,4.275832,81.254554,13.459189,18.282743,33.069932,38.542913,15.686647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1,6.852877,46.961918,63.543838,27.006249,25.870001,9.272579,3.940863,3.775057,85.980717,15.530402,14.251056,36.541963,35.004515,14.876983
154,1,5.932245,35.191533,52.877557,20.820004,25.542382,8.913583,3.509633,4.305685,79.451954,12.317525,18.538927,31.283405,38.379082,15.111376
155,1,5.968708,35.625470,51.749248,22.671977,26.025919,8.670093,3.798473,4.360394,75.170509,14.428401,19.013039,32.933118,37.805024,16.562842
156,1,8.578665,73.593485,78.650266,32.031471,37.375623,9.168125,3.733853,4.356811,84.054510,13.941657,18.981805,34.232428,39.943790,16.267692
157,1,9.630366,92.743942,85.244879,31.250645,41.452974,8.851676,3.245011,4.304403,78.352173,10.530098,18.527884,28.723790,38.101181,13.967836