### Assignment 3

## Question 1

In [18]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\a-pal\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\a-pal\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\a-pal\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\a-pal\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\a-pal\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [70]:
import pandas as pd
import numpy as np
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [71]:
import statsmodels.formula.api as smf

In [72]:
greene

,id,YEAR,COST,Q,PL,SL,PK,SK,PF,SF
0,1,1970,0.2130,8.0,6869.47,0.3291,64.945,0.4197,18.000,0.2512
1,4,1970,3.0427,869.0,8372.96,0.1030,68.227,0.2913,21.067,0.6057
2,5,1970,9.4059,1412.0,7960.90,0.0891,40.692,0.1567,41.530,0.7542
3,14,1970,0.7606,65.0,8971.89,0.2802,41.243,0.1282,28.539,0.5916
4,15,1970,2.2587,295.0,8218.40,0.1772,71.940,0.1623,39.200,0.6606
...,...,...,...,...,...,...,...,...,...,...
153,214,1970,6.8293,946.6,10642.16,0.0883,43.600,0.1914,51.463,0.7203
154,215,1970,3.7605,377.0,7432.24,0.2117,74.120,0.2274,33.436,0.5609
155,216,1970,3.9822,391.0,5826.04,0.1926,78.288,0.0924,44.633,0.7151
156,217,1970,30.1880,5317.0,9586.63,0.0845,78.008,0.2009,41.840,0.7147
157,218,1970,67.8562,15220.0,6986.09,0.1451,74.025,0.2596,25.662,0.5945

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

In [73]:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [74]:
lnct = np.log(ct)
lnq = np.log(q)
lnp1 = np.log(p1)
lnp2 = np.log(p2)
lnp3 = np.log(p3)

In [75]:
lnq_2 = np.multiply(lnq,lnq)
lnqlnp1 = np.multiply(lnq,lnp1)
lnqlnp2 = np.multiply(lnq,lnp2)
lnqlnp3 = np.multiply(lnq,lnp3)

In [76]:
lnp1_2 = np.multiply(lnp1,lnp1) 
lnp2_2 = np.multiply(lnp2,lnp2) 
lnp3_2 = np.multiply(lnp3,lnp3)

In [77]:
lnp1lnp2 = np.multiply (lnp1,lnp2)
lnp1lnp3 = np.multiply (lnp1,lnp3)
lnp2lnp3 = np.multiply (lnp2,lnp3)

In [78]:
#We have a look at the results that we should get
results = smf.ols( 'lnct ~ lnq + lnq_2 + lnqlnp1 + lnqlnp2 + lnqlnp3 + lnp1 + lnp2 + lnp3 + lnp1_2 + lnp2_2 + lnp3_2 + lnp1lnp2 + lnp1lnp3 + lnp2lnp3',
                  data = greene)

In [79]:
X_test = pd.DataFrame(results.exog, columns = results.exog_names).iloc[ : , 1: ]
y_test = pd.Series(results.endog , name = results.endog_names )
intercept_test = True

In [80]:
beta_OLS_output_test = results.fit().summary2().tables[1].iloc[ :, [0]]

In [81]:
beta_OLS_output_test

               Coef.
Intercept -76.259261
lnq        -1.080425
lnq_2       0.026489
lnqlnp1     0.131041
lnqlnp2     0.058652
lnqlnp3     0.040144
lnp1       14.718293
lnp2       -0.894733
lnp3        6.380797
lnp1_2     -0.769264
lnp2_2     -0.036753
lnp3_2     -0.163707
lnp1lnp2    0.162283
lnp1lnp3   -0.572050
lnp2lnp3   -0.024025

.
$$
\widehat{\boldsymbol{\beta}}^{(OLS)} = \left( \mathbf{X}^\top \mathbf{X}\right)^{-1} \mathbf{X}^\top \mathbf{Y}
$$
â€‹

In [82]:
X_input = pd.DataFrame()
y_input = pd.DataFrame()

In [83]:
y_input['lnct'] = lnct
X_input['lnq'] = lnq
X_input['lnq_2'] = lnq_2
X_input['lnqlnp1'] = lnqlnp1
X_input['lnqlnp2'] = lnqlnp2
X_input['lnqlnp3'] = lnqlnp3
X_input['lnp1'] = lnp1
X_input['lnp2'] = lnp2
X_input['lnp3'] = lnp3
X_input['lnp1_2'] = lnp1_2
X_input['lnp2_2'] = lnp2_2
X_input['lnp3_2'] = lnp3_2
X_input['lnp1lnp2'] = lnp1lnp2
X_input['lnp1lnp3'] = lnp1lnp3
X_input['lnp2lnp3'] = lnp2lnp3

In [84]:
def beta_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1)
        betas = np.linalg.inv(X_.T @ X_) @ X_.T @ y
        betas['Params'] = X_.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas
    else:
        betas = np.linalg.inv(X.T @ X) @ X.T @ y
        betas['Params'] = X.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas

In [85]:
coeficientes=beta_OLS (X_input,y_input, intercept=False )
coeficientes

             Coefs
Params
lnq      -1.070405
lnq_2     0.025880
lnqlnp1   0.129652
lnqlnp2   0.059482
lnqlnp3   0.042202
lnp1      1.034946
lnp2     -1.331499
lnp3     -0.290481
lnp1_2   -0.150969
lnp2_2   -0.050645
lnp3_2    0.020552
lnp1lnp2  0.213817
lnp1lnp3 -0.004674
lnp2lnp3 -0.013750

## Question 2

In [86]:
## Matriz de covarianzas
##es (SCE/N-k)*(Xa la t* x)inversa
##ScE es igual a (y - y estimado) al cuadrado
##y estimado es igual a la sumatoria de betas que multiplican a las X)

In [95]:
#hallar betas*x
X_input

,lnq,lnq_2,lnqlnp1,lnqlnp2,lnqlnp3,lnp1,lnp2,lnp3,lnp1_2,lnp2_2,lnp3_2,lnp1lnp2,lnp1lnp3,lnp2lnp3
0,2.079442,4.324077,18.371538,6.010359,8.678634,8.834842,2.890372,4.173541,78.054437,8.354249,17.418442,25.535978,36.872574,12.063084
1,6.767343,45.796933,61.127805,20.624885,28.577410,9.032763,3.047708,4.222840,81.590803,9.288523,17.832381,27.529222,38.143915,12.869984
2,7.252762,52.602563,65.146469,27.026810,26.878966,8.982297,3.726416,3.706032,80.681665,13.886177,13.734670,33.471777,33.288677,13.810215
3,4.174387,17.425509,37.994654,13.989505,15.526556,9.101852,3.351272,3.719481,82.843703,11.231021,13.834542,30.502777,33.854168,12.464992
4,5.686975,32.341689,51.263140,20.863674,24.316554,9.014131,3.668677,4.275832,81.254554,13.459189,18.282743,33.069932,38.542913,15.686647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,6.852877,46.961918,63.543838,27.006249,25.870001,9.272579,3.940863,3.775057,85.980717,15.530402,14.251056,36.541963,35.004515,14.876983
154,5.932245,35.191533,52.877557,20.820004,25.542382,8.913583,3.509633,4.305685,79.451954,12.317525,18.538927,31.283405,38.379082,15.111376
155,5.968708,35.625470,51.749248,22.671977,26.025919,8.670093,3.798473,4.360394,75.170509,14.428401,19.013039,32.933118,37.805024,16.562842
156,8.578665,73.593485,78.650266,32.031471,37.375623,9.168125,3.733853,4.356811,84.054510,13.941657,18.981805,34.232428,39.943790,16.267692
157,9.630366,92.743942,85.244879,31.250645,41.452974,8.851676,3.245011,4.304403,78.352173,10.530098,18.527884,28.723790,38.101181,13.967836

In [97]:
X_input['lnq']*-1.070405

0      -2.225845
1      -7.243798
2      -7.763393
3      -4.468285
4      -6.087367
         ...
153    -7.335353
154    -6.349905
155    -6.388934
156    -9.182645
157   -10.308392
Name: lnq, Length: 158, dtype: float64

In [100]:
coeficientes.head(1)

           Coefs
Params
lnq    -1.070405

In [105]:
coeficientes[0:1]

           Coefs
Params
lnq    -1.070405

In [116]:
def cov_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1)
        betas = np.linalg.inv(X_.T @ X_) 
        return betas
    else:
        betas = np.linalg.inv(X.T @ X) 
        return betas

In [117]:
covarianza=cov_OLS (X_input,y_input,)
covarianza

array([[ 8.50312544e+04,  1.11724274e+01, -6.78803822e-01,
        -1.54801813e+00,  9.25457827e-01,  2.29431536e+00,
        -1.52573217e+04, -4.87006258e+02, -7.43866501e+03,
         6.89416485e+02, -1.54901214e+01,  2.05454436e+02,
         5.74619429e+01,  6.32641437e+02,  1.14566554e+01],
       [ 1.11724267e+01,  8.18385964e+00,  1.78661191e-02,
        -7.81015826e-01,  9.32159073e-03, -3.53339864e-01,
        -1.08060852e+01,  8.60661979e+00, -5.26391430e+00,
         8.89015898e-01,  2.20986484e-02, -5.21154396e-02,
        -8.73106189e-01,  1.01817902e+00, -2.07186957e-01],
       [-6.78803825e-01,  1.78661191e-02,  3.22281847e-04,
        -2.09823503e-03, -3.07430455e-04, -6.36976890e-04,
         8.65447051e-02,  6.10511120e-02,  5.00005487e-02,
        -2.49447244e-03,  7.58685201e-04, -3.47196546e-03,
        -5.74077155e-03, -8.18812430e-04, -2.80074876e-03],
       [-1.54801807e+00, -7.81015826e-01, -2.09823503e-03,
         8.50489029e-02, -9.74542627e-03,  2.01796900e-02,
         1.25114135e+00, -8.77802891e-01,  3.15067702e-01,
        -1.13814560e-01,  1.11288614e-03,  1.65542818e-02,
         1.07345185e-01, -6.62218780e-02, -4.93315509e-03],
       [ 9.25457826e-01,  9.32159075e-03, -3.07430455e-04,
        -9.74542628e-03,  3.78783709e-02, -1.09585879e-02,
        -4.81233267e-01,  1.91847952e-01,  4.66242376e-01,
         3.40794468e-02, -9.87517833e-03, -5.96078481e-03,
        -9.85308218e-03, -8.37305511e-03, -7.98104249e-02],
       [ 2.29431540e+00, -3.53339864e-01, -6.36976890e-04,
         2.01796900e-02, -1.09585879e-02,  5.15009174e-02,
        -1.95512939e-02, -5.13743936e-01,  1.55563246e-02,
         1.22185101e-02, -1.92341305e-03, -3.89557553e-03,
         5.92839027e-03, -8.91856621e-02,  1.28367945e-01],
       [-1.52573217e+04, -1.08060853e+01,  8.65447045e-02,
         1.25114136e+00, -4.81233267e-01, -1.95512864e-02,
         2.91267461e+03, -7.27392878e+01,  1.10829886e+03,
        -1.38626888e+02,  4.09055443e+00, -2.43804626e+01,
         2.22917344e+00, -1.03762370e+02,  7.66873388e+00],
       [-4.87006276e+02,  8.60661977e+00,  6.10511121e-02,
        -8.77802889e-01,  1.91847952e-01, -5.13743935e-01,
        -7.27392843e+01,  4.68789283e+02, -1.24684440e+01,
         9.37973816e+00, -3.40311741e+00, -1.92344874e+00,
        -3.97517441e+01,  1.15754219e+01, -2.13186036e+01],
       [-7.43866499e+03, -5.26391433e+00,  5.00005484e-02,
         3.15067704e-01,  4.66242376e-01,  1.55563279e-02,
         1.10829885e+03, -1.24684452e+01,  1.19035974e+03,
        -4.09217878e+01,  1.37321297e+00, -4.42779019e+01,
         2.10228100e+00, -9.02648885e+01, -4.21227498e+00],
       [ 6.89416485e+02,  8.89015904e-01, -2.49447241e-03,
        -1.13814560e-01,  3.40794468e-02,  1.22185097e-02,
        -1.38626888e+02,  9.37973832e+00, -4.09217880e+01,
         6.95491423e+00, -1.78691458e-01,  6.58810258e-01,
        -7.78310816e-01,  4.08401433e+00, -3.86237413e-01],
       [-1.54901214e+01,  2.20986483e-02,  7.58685200e-04,
         1.11288616e-03, -9.87517834e-03, -1.92341304e-03,
         4.09055443e+00, -3.40311741e+00,  1.37321297e+00,
        -1.78691458e-01,  4.80730776e-01, -1.18917845e-01,
        -9.00622958e-02, -1.44210402e-01,  2.59199205e-01],
       [ 2.05454436e+02, -5.21154386e-02, -3.47196545e-03,
         1.65542817e-02, -5.96078481e-03, -3.89557562e-03,
        -2.43804625e+01, -1.92344871e+00, -4.42779019e+01,
         6.58810256e-01, -1.18917845e-01,  2.81758587e+00,
         4.86635580e-01,  2.51342221e+00, -3.86038280e-01],
       [ 5.74619447e+01, -8.73106187e-01, -5.74077156e-03,
         1.07345184e-01, -9.85308213e-03,  5.92839022e-03,
         2.22917309e+00, -3.97517440e+01,  2.10228088e+00,
        -7.78310799e-01, -9.00622963e-02,  4.86635583e-01,
         4.23245582e+00, -8.94393910e-01,  5.77338357e-01],
       [ 6.32641436e+02,  1.01817902e+00, -8.18812400e-04,
        -6.62218783e-02, -8.37305513e-03, -8.91856624e-02,
        -1.03762370e+02,  1.15754220e+01, -9.02648885e+01,
         4.08401432e+00, -1.44210402e-01,  2.51342221e+00,
        -8.94393921e-01,  8.02534157e+00, -6.11236975e-01],
       [ 1.14566559e+01, -2.07186957e-01, -2.80074876e-03,
        -4.93315510e-03, -7.98104249e-02,  1.28367945e-01,
         7.66873379e+00, -2.13186036e+01, -4.21227502e+00,
        -3.86237409e-01,  2.59199205e-01, -3.86038278e-01,
         5.77338358e-01, -6.11236971e-01,  3.52099972e+00]])