# Assignment 3

In [1]:
import pandas as pd
import numpy as np
import pickle
import scipy.stats as stats

In [2]:
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [3]:
file_to_open = open( r'../../_data/data_greene.pkl' , "rb" )
data = pickle.load( file_to_open )

In [4]:
X = data.iloc[ :, 1: ]

In [5]:
y = data.ln_cost

In [6]:
file_to_open = open( r'../../_data/beta_OLS_output.pkl' , "rb" )
beta_OLS_output = pickle.load( file_to_open )
beta_OLS_output

                  Coef.
Intercept    -76.259259
lnq           -1.080425
(lnq)^2        0.026489
(lnq)(lnp1)    0.131041
(lnq)(lnp2)    0.058652
(lnq)(lnp3)    0.040144
lnp1          14.718292
lnp2          -0.894733
lnp3           6.380797
(lnp1)^2      -1.538527
(lnp2)^2      -0.073506
(lnp3)^2      -0.327414
(lnp1)(lnp2)   0.324566
(lnp1)(lnp3)  -1.144101
(lnp2)(lnp3)  -0.048049

In [7]:
def calculator(x, y, intercept):
    lnp1 = (1/x*x)
    lnp2 = x*y
    result = lnp1*lnp2
    lnp3 = 1/x
    lnp4 = y
    result2 = lnp3 * lnp4
    if (intercept == TRUE):
        return result, lnp1, lnp2
    elif(intercept == FALSE):
        return result2, lnp3, lnp4
    else:
        print("Error, input does not meet the requirements")