In [15]:
import googlemaps
import json
import pprint
import time
import pandas as pd
import numpy as np
import re

In [16]:
IPRESS_Trujillo = pd.ExcelFile("USLRC20220106200743_xp.xls").parse()

In [17]:
IPRESS_Trujillo = IPRESS_Trujillo[["Departamento","Provincia","Distrito","Dirección"]]

IPRESS_Trujillo.head()

,Departamento,Provincia,Distrito,Dirección
0,LA LIBERTAD,TRUJILLO,TRUJILLO,AVENIDA AMERICA SUR NÚMERO 2055 URBANIZACIÓN E...
1,LA LIBERTAD,TRUJILLO,TRUJILLO,AVENIDA MOCHE NÚMERO 609 PISO 1 URBANIZACIÓN S...
2,LA LIBERTAD,TRUJILLO,TRUJILLO,AVENIDA AV. MANSICHE Nº 810 DISTRITO TRUJILLO ...
3,LA LIBERTAD,TRUJILLO,TRUJILLO,JR. BOLIVAR 269/ INTERIOR 09/ CENTRO CIVICO
4,LA LIBERTAD,TRUJILLO,TRUJILLO,CALLE LIVERPOOL NÚMERO 365 URBANIZACIÓN SAN SA...

In [18]:
df1 = IPRESS_Trujillo[ IPRESS_Trujillo.iloc[ :, 3 ].notnull() ].copy()

In [19]:
df1.shape

(270, 4)

In [22]:
df1 = df1.sample( frac = 0.35 )

In [36]:
#Luciana solo deberías cambiar el API por el tuyo. Este API es del profe

API_KEY = 'AIzaSyAXb1CyMDuAKkbk25LPIo9_XGSMGioLhEU'

In [40]:
def get_results( result_api ):
    
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( lat, lon )

In [41]:
def geo_ipress( row_series ):
    
    address = f"{row_series['Departamento']}, {row_series['Provincia']}, {row_series['Distrito']}, {row_series['Dirección']}"
    
    # Set Geolocation
    gmaps = googlemaps.Client( key = 'AIzaSyAXb1CyMDuAKkbk25LPIo9_XGSMGioLhEU' )
    result_api = gmaps.geocode( address , region = 'PE' )
    
    # Information
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( address, lat, lon )

In [42]:
df1['results'] = df1.apply( lambda x: geo_ipress( x )  , axis = 1 )

In [43]:
df1[['addres', 'lat', 'lng']] = pd.DataFrame( df1.results.tolist() ,  index = df1.index )

In [47]:
df2 = df1[["addres","lat","lng"]].rename(columns={'addres': 'Address', 'lat': 'Latitude', 'lng' : 'Longitude'})

In [48]:
df2

                                               Address  Latitude  Longitude
99   LA LIBERTAD, TRUJILLO, TRUJILLO, CALLE BOLIVAR... -8.111024 -79.025632
127  LA LIBERTAD, TRUJILLO, TRUJILLO, JIRÓN JIRON B... -8.114493 -79.027954
231  LA LIBERTAD, TRUJILLO, TRUJILLO, AVENIDA AVENI... -8.100013 -78.998424
185  LA LIBERTAD, TRUJILLO, TRUJILLO, AVENIDA 28 DE... -8.116692 -79.029638
225  LA LIBERTAD, TRUJILLO, TRUJILLO, AVENIDA TEODO... -8.095493 -79.032527
..                                                 ...       ...        ...
32   LA LIBERTAD, TRUJILLO, TRUJILLO, AV. AMÉRICA N... -8.100681 -79.031950
162  LA LIBERTAD, TRUJILLO, TRUJILLO, CALLE ESTADOS... -8.117743 -79.031185
249  LA LIBERTAD, TRUJILLO, TRUJILLO, CALLE NICOLAS... -8.103226 -79.030417
214  LA LIBERTAD, TRUJILLO, TRUJILLO, JR. COSTA RIC... -8.120018 -79.026579
73   LA LIBERTAD, TRUJILLO, TRUJILLO, CALLE LOS LAU... -8.130109 -79.039234

[94 rows x 3 columns]

In [53]:
df2.to_csv('group_6_ass_5.csv', index=False, encoding = 'utf-8-sig') #arreglar encoding