In [10]:
import pandas as pd 
import numpy as np

## 1 Tuples

In [2]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tuple2 = (10, 20, 30, 40, 50)

In [3]:
tuple1[0]

'apple'

In [4]:
tuple1[-1]

'mango'

In [5]:
tuple1[3] = 'pink grapeftuit'
# It isn't possible to change the item values of a tuple

TypeError: 'tuple' object does not support item assignment

In [6]:
len(tuple1)

7

In [7]:
tuple2 = tuple2[::-1]
tuple2

(50, 40, 30, 20, 10)

In [8]:
list2 = list(tuple2)
tuple3 = tuple([int(i/2) for i in list2])
tuple3

(25, 20, 15, 10, 5)

## Lists

In [15]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [53]:
def get_index_positions(list_of_elems, element):
    index_pos_list = []
    index_pos = 0
    while True:
        try:
            index_pos = list_of_elems.index(element, index_pos)
            index_pos_list.append(index_pos)
            index_pos += 1
        except ValueError as e:
            break
    return index_pos_list

nans = get_index_positions(f_list, np.nan)

In [64]:
print('The indices {},{},{},{} have np.nan values'.format(*nans))

The indices 0,1,4,7 have np.nan values

In [65]:
p2_list = [2,3,4,5]
p2_list*4

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [66]:
len(f_list)

8

In [72]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
' '.join(text1)

'My teacher assistant is so boring.'

In [73]:
text1.extend(['but is very funny'])

In [82]:
text1
t = ' '.join(text1).replace('teacher assistant', 'TA').replace('boring.', 'boring,')
t

'My TA is so boring, but is very funny'

In [91]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
print('The max value of values1 is {} and is located in the {} index.'.format(max(values1), values1.index(max(values1))))
print('The min value of values1 is {} and is located in the {} index.'.format(min(values1), values1.index(min(values1))))

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

## Dictionaries

In [ ]:
aca va a ir ejercicio de diccionarios