In [34]:
import numpy as np
import pandas as pd

# 4. If and Loops

## 4.1 If condition

Function **if** test conditions. 
- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

<img src="../_images/if-statement.jpg" alt="image info" />

### 4.1.1 The structure of the code is the following: <br><br>

<font size="4">
if <font color='green'>test expresion</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code to excute<br>
</font>

The function **if** tests the veracity of a logic expression. The result of test statement should be a **<font color='red'>boolean</font>**. In other words, the output of the test statemen must be **<font color='red'>True</font>** or **<font color='red'>False</font>**. To sum, any function that its output is **boolean** can be used as a test expression in the **if** function.

### Examples

In [35]:
A = 30
B = 20
result = A > B
result

True

In [36]:
A = 20
B = 30

result = A == B
print( f' Is A greater than B? \t{result}') # f'' help us to use numeric variables in strings

 Is A greater than B? 	False

In [37]:
# A = 20
# B = 30

if A != B:
    print( 'A is not equal B' )

A is not equal B

In [38]:
A = 20
B = 30

result = A == B
print( f'result A == B \t{result} \n')

result = A != B
print(f'result A != B \t  {result} \n' )

result = A > B
print(f'result A > B \t {result} \n')

result A == B 	False

result A != B 	  True

result A > B 	 False

### 4.1.2 Test more than 1 expression

We will use **elif**. This function allows us to add more test expressions.  <br><br>



<font size="4">
if <font color='green'>test expresion1</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;Code1<br><br>
elif <font color='green'>test expresion2</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code2<br><br>
elif <font color='green'>test expresion3</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code3<br><br>
elif <font color='green'>test expresion4</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code4<br><br>
elif <font color='green'>test expresion5</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code5<br><br>
else :<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code6<br><br>
</font>

Python will read the conditions of the test in order. 
If **Test expression 1** is `True`, the rest of the test expressions will not be evaluated. 
R execute **Code2** and will not test the next conditions. <br>

In case no Test expression is `True`, the **Code6** will be excuted.

In [39]:
A = 20
B = 30

if A == B:
    print( 'Test expresion 1 is True' )
    
elif A > B:
    print( 'Test expresion 2 is True' )

elif A >= B:
    print( 'Test expresion 3 is True' )
    
elif A < B:
    print( 'Test expresion 4 is True' )
    
elif A <= B:
    print( 'Test expresion 5 is True' )
    
else:
    print( 'Test expresion 6 is True' )

Test expresion 4 is True

In [40]:
# A = 20
# B = 30

if A == B:
     print ('A is the same as B. Condition 1 is true.')
    
elif A > B:
     print ('A is greater than B. Condition 2 is true.')

elif A >= B:
     print ('A is greater than or equal to B. Condition 3 is true.')
    
elif A < B:
     print ('A is less than B. Condition 4 is true.')
    
elif A <= B:
     print ('A is less than or equal to B. Condition 5 is true.')
    
else:
     print ('When neither condition is true, this phrase is printed.')

A is less than B. Condition 4 is true.

### 4.1.3 [Logical Operators](https://www.geeksforgeeks.org/python-logical-operators-with-examples-improvement-needed/)

Three key logical operators: **<font color = 'red' >and</font>**, **<font color = 'red' > or</font>**, and **<font color = 'red' > not</font>**.

In [41]:
A = 20
B = 30
C = 25

if A == B and A < C:
     print ('A is equal to B and less than C. Condition 1 is true.')
    
elif A > B or A > C:
     print ('A is greater than B or greater than C. Condition 2 is true.')

elif B > C and B > A:
     print ('B is greater than C and greater than A. Condition 3 is true.')
    
else:
     print ('When neither condition is true, this phrase is printed.')

B is greater than C and greater than A. Condition 3 is true.

In [42]:
# A = 20
# B = 30
# C = 25

if not (A> 27):
     print ('A is not equal to 27. Condition 1 is true.')
        
else:
     print ('When neither condition is true, this phrase is printed.')

A is not equal to 27. Condition 1 is true.

### 4.1.4 [Python Identity Operators](https://www.w3schools.com/python/gloss_python_identity_operators.asp)

These operators help us to compare whether variables refer to the same object.
We have **<font color = 'red' >is</font>**, and **<font color = 'red' > is not</font>** as identity operators.

In [43]:
C = None
C

In [44]:
if C is None:
    print( 'Ohh C is None :(')

Ohh C is None :(

In [45]:
if C is not float:
    print( 'C is not a float')

C is not a float

#### Difference between **<font color = 'red' > ==</font>** and **<font color = 'red' > is</font>** operator in Python

1. **<font color = 'red' > ==</font>** operator compares the values of both the operands and checks for value equality.
2. **<font color = 'red' > is</font>** operator checks whether both the operands refer to the same object or not (present in the same memory location).

In [46]:
a = 5
b = 5

a is b

True

In [47]:
a = np.arange(0, 4)
b = np.array( [0, 1 , 2 , 3 ] )

a == b

array([ True,  True,  True,  True])

In [48]:
a is b

False

#### IF condition structure

The strict way to run the if conditions is as follows: <br>

<font size = "4">


if <font color = 'green'> condition1 </font>: <font color = 'red'> (Required) </font> <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code1 <br> <br>
elif <font color = 'green'> condition2 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code2 <br> <br>
elif <font color = 'green'> condition3 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code3 <br> <br>
elif <font color = 'green'> condition4 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code4 <br> <br>
else: <font color = 'red'> (Required) </font> <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code5 <br>
<br>
</font>

### 4.1.5 Python Nested if Statement

In [49]:
total = 100
#country = "PE"
country = "AR"
if country == "PE":
    if total <= 50:
        print("Shipping Cost is  $50")
    elif total <= 100:
        print("Shipping Cost is $25")
    elif total <= 150:
        print("Shipping Costs $5")
    else:
        print("FREE")
        
if country == "AR": 
    if total <= 50:
        print("Shipping Cost is  $100")
    else:
        print("FREE")

FREE

The **if** function is not only useful with logical expressions, but also with functions whose result is a **<font color = 'red' > Boolean </font>** (**True** or **False**).<br>
For example, the **isinstance** function evaluates whether a variable is string, bool, int, float and returns a Boolean (True or False) as a result. For more information [here](https://docs.python.org/3/library/functions.html#isinstance). <br>

In [50]:
# The result of isinstance is a Boolean. Then it can be used as a condition in the if function.
isinstance (A, str)

False

In [51]:
A = 20
# A = np.array([3, 4, 5])

if isinstance( A, str ):
    print( 'A is a string' )

elif isinstance( A, bool ):
    print( 'A is a boolean' )

elif isinstance( A, float ):
    print( 'A is a float' )

elif isinstance( A, int ):
    print( 'A is an integer' )

elif isinstance( A, complex ):
    print( 'A is a complex' )

else:
    print( 'A is another type of variable')

A is an integer

## 4.2 For Loops

A for loop is used for iterating over a sequence. It executes a code a definite number of times. It has the following structure:

<img src="../_images/for_loop.jpg" alt="image info" />

### 4.2.1 In numpy

In [52]:
sequence = np.array( [15, 20, 25, 30 , 35 , 40 , 48 ] )
sequence

array([15, 20, 25, 30, 35, 40, 48])

In [53]:
i = 0
for element in sequence:
    print( element )

15
20
25
30
35
40
48

### 4.2.2 In List

In [54]:
class_age = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]

for age in class_age:
    print( type(age) )

<class 'list'>
<class 'list'>
<class 'list'>

In [55]:
ages = [ 21, 23, 25, 24, 20]

for age in ages:
    print( type(age) )

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### 4.2.3 In Dictionary

In [56]:
class_1 = {"students" : ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason'] , "age" : [20, 18, 15, 20, 22]}

In [57]:
for key in class_1.keys():
    for val in class_1[key]:
         print (val)

Miguel
Anthony
Paul
Rodrigo
Jason
20
18
15
20
22

In [58]:
for key in class_1.keys():
    print(key)

students
age

In [59]:
for val in class_1.values():
    print( val )

['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']
[20, 18, 15, 20, 22]

In [60]:
for key, val in class_1.items():
    print( key, val )

students ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']
age [20, 18, 15, 20, 22]

In [61]:
dict1 = {}

for i in range(5):
    dict1[f'random_{i+1}' ] = np.random.rand(3)

In [62]:
dict1

{'random_1': array([0.98519227, 0.37494796, 0.24082856]),
 'random_2': array([0.15219156, 0.16830113, 0.23418069]),
 'random_3': array([0.6019422 , 0.82173513, 0.92078329]),
 'random_4': array([0.79327195, 0.89996149, 0.06384876]),
 'random_5': array([0.98077795, 0.12473914, 0.33349769])}

### 4.2.4 For loop using range

In [63]:
# Class
students = ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']

# Ages
ages = [20, 18, 15, 20, 22]

for index in range (0, len (students)):
     print (f'{ students[index] } is { ages[index] } years old.')

Miguel is 20 years old.
Anthony is 18 years old.
Paul is 15 years old.
Rodrigo is 20 years old.
Jason is 22 years old.

### 4.2.5 Nested For Loop

A for loop inside another for loop.

In [64]:
age_class = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]
age_class

[[11, 12, 11], [15, 16, 16], [17, 17, 18]]

In [65]:
for classs in age_class:
    print( classs )
    
    for age in classs:
        print( age )

[11, 12, 11]
11
12
11
[15, 16, 16]
15
16
16
[17, 17, 18]
17
17
18

In [66]:
# secuencia
students = [ 'Miguel' , 'Anthony', 'Paul', 'Rodrigo', 'Jason' ]

# age
gr_age = [ 20, 18, 15, 20, 22]

# Loops
for student, age in zip( students , gr_age ):
    print(f'{ student } is { age }')

Miguel is 20
Anthony is 18
Paul is 15
Rodrigo is 20
Jason is 22

In [67]:
## Diferent dimmensions
# secuencia
students = [ 'Miguel' , 'Anthony', 'Paul', 'Rodrigo', 'Jason' ]

# Edades
gr_age = [ 20, 18, 15, 20 ]

for student, age in zip( students , gr_age ):
    print(f'{ student } is { age }')

Miguel is 20
Anthony is 18
Paul is 15
Rodrigo is 20

### 4.2.6 Example

In [68]:
production_fish = pd.read_csv( r"..\_data\production_fish.csv" )

In [69]:
production_fish.head(3)

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
0,2005,8628.396,13.537,9.021,23.279000,235.630000,9.877000,25.71100,20.481000,0.16500,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.838,14.714,11.295,25.189000,365.729000,11.336000,58.24500,122.904000,0.04800,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.713,19.937,13.548,28.358488,379.556594,3.713293,26.24874,82.910307,0.00102,4.822991,134.887316,9.317622,2.834958,6790.849328

In [70]:
col_names = production_fish.columns.to_list()[ 1:-1 ]

In [71]:
for col in col_names:
    production_fish[ f'%_{col}' ]  = production_fish[ f'{col}' ] * 100 / production_fish[ 'total_production' ]

In [72]:
production_fish.head()

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,...,%_Consumo Humano - Congelado - Merluza,%_Consumo Humano - Congelado - Calamar gigante,%_Consumo Humano - Conservas - Atún,%_Consumo Humano - Conservas - Caballa,%_Consumo Humano - Conservas - Jurel,%_Consumo Humano - Conservas - Sardina,%_Consumo Humano - Fresco - Concha de abanico,%_Consumo Humano - Fresco - Jurel,%_Consumo Humano - Fresco - Liza,%_Consumo Humano - Fresco - Tollo
0,2005,8628.396,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,...,0.257784,2.609294,0.109375,0.284716,0.226800,0.001827,0.020410,0.621986,0.065065,0.004762
1,2006,5891.838,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,...,0.378957,5.502230,0.170545,0.876270,1.849036,0.000722,0.060900,2.058501,0.047631,0.023831
2,2007,6084.713,19.937000,13.548000,28.358488,379.556594,3.713293,26.248740,82.910307,0.00102,...,0.417599,5.589236,0.054681,0.386531,1.220912,0.000015,0.071022,1.986310,0.137208,0.041747
3,2008,6159.387,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.00000,...,0.381324,7.006976,0.047523,0.690247,0.851905,0.000000,0.011986,1.159134,0.210053,0.042453
4,2009,5828.636,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.00000,...,0.575057,5.552894,0.031541,0.803066,0.223441,0.000000,0.028821,0.736189,0.270702,0.063454

In [73]:
production_fish.loc[:, col_names ].round( 2 ).head()

,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo
0,8628.40,13.54,9.02,23.28,235.63,9.88,25.71,20.48,0.16,1.84,56.17,5.88,0.43
1,5891.84,14.71,11.30,25.19,365.73,11.34,58.24,122.90,0.05,4.05,136.83,3.17,1.58
2,6084.71,19.94,13.55,28.36,379.56,3.71,26.25,82.91,0.00,4.82,134.89,9.32,2.83
3,6159.39,18.79,12.82,26.35,484.16,3.28,47.69,58.86,0.00,0.83,80.09,14.51,2.93
4,5828.64,24.63,11.88,36.77,355.11,2.02,51.36,14.29,0.00,1.84,47.08,17.31,4.06

## 4.3 Pass, Continue, Break, Try

1. `Pass`: Allows you to handle the condition without the loop being impacted in any way
2. `Continue`: The current iteration of the loop will be disrupted, but the program will return to the top of the loop
3. `Break`: The while–loop will exit
4. `Try`: This command lets you test a block of code for errors.

### 4.3.1 Pass

In [74]:
for number in range(10):

    print('Number is ' + str(number))

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9

In [75]:
a = 2
if a == 1:
    print(a)

In [76]:
prime = [2 , 3, 5, 7]

In [77]:
for number in range(10):
    
    if (number in prime):
        # comment
        pass

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')

    print('Number is ' + str(number), '\n')

print('Out of loop')

Different number
Number is 0

Different number
Number is 1

Number is 2

Number is 3

Different number
Number is 4

Number is 5

Different number
Number is 6

Number is 7

Different number
Number is 8

Different number
Number is 9

Out of loop

### 4.3.2 Continue

In [78]:
for number in range(10):
    if number == 5:
        # comment
        continue

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')
    
    print('Number is ' + str(number), '\n')

print('Out of loop')

Different number
Number is 0

Different number
Number is 1

Different number
Number is 2

This number is 3
Number is 3

Different number
Number is 4

Different number
Number is 6

Different number
Number is 7

Different number
Number is 8

Different number
Number is 9

Out of loop

### 4.3.3 Break

In [79]:
for number in range(10):
    if number == 5:
        # comment
        raise Exception('This is the output of exception.')

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')

    print('Number is ' + str(number))

print('Out of loop')

Different number
Number is 0
Different number
Number is 1
Different number
Number is 2
This number is 3
Number is 3
Different number
Number is 4

Exception: This is the output of exception.

### 4.3.4 Try

`except`: Run a code if an error occurs.

In [ ]:
x = 'jola'

In [ ]:
print(x + 4)

In [ ]:
try:
    print(x + 4)
except TypeError:
    print("An error tipo TypeError")
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

`else`: The code will be executed whether there is no error.

In [ ]:
x = 6

In [ ]:
try:
    print(x + 4)
except:
    print("Something went wrong")
    #print( 5 + 4)
else:
    print("Nothing went wrong")
    
    try:
        print( x + "2")    
    except:
        print("error 2")

`finally`: The code will be executed does no matter whether or not the try raises an exception.

In [ ]:
x = 6

In [ ]:
try:
    print(x + 4)
except:
    print("Something went wrong")
finally:
    print( f'el elemento {x} ya paso por este filtro')

In [ ]:
s

In [ ]:
s = 16
if s:
    print(s)

## 4.4 While Loop
While loop is used to repeat code as long as the condition is true. When the logical expression is false, the code will finish executing. [More Info](https://python101.pythonlibrary.org/chapter5_loops.html)
<img src="../_images\while_loop.jpg">

See the structure: <br>

while <font color='green'>condition</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code 1<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>break code</font><br><br>

The break code is an expression that allows the logical condition to be false at some point, because if not, the code will continue to execute infinitely.

In [ ]:
i = 1

# condition  "i < 6"
while i < 6:
    
    print(i)
    
    # break code, 
    i += 1 
    # ==> i = i + 1

### 4.4.1 Training
1. Print $2^n$, but the result is less than 10,000.

In [ ]:
x = 2
while x < 10000:
    print(x)
    
    #break code
    x = 2*x

2. A teacher has 100 apples for his entire class. The first student took four apples, and the next student always took more apples than the previous one. How many children have apples?

In [ ]:
apples = 100
last_st = 4
i = 1
while apples > last_st:
    
    # Code
    apples = apples - last_st
    last_st += 1

    # Break code
    i += 1
    # What is the format function for
    print ('{} children have apples'.format (i))

# print ('{} children have apples'.format (i))

In [ ]:
next_st

3. Print all elements of an array.

In [ ]:
import numpy as np

edad = np.array([ 3, 6, 7, 10, 15, 17, 18, 31, 26, 88 , 100, 120, 110])
i = 0

while i < edad.size:
    
    print(edad[i])
    i += 1

### 4.4.2 Excersice

In [ ]:
quarantine_days = 1
stress_level = 2


while quarantine_days <= 40:
    
    print ( f'Quarantine day n° {quarantine_days}. ')
    
    if stress_level> 100:
        print (f'Her family let Maria out on the day {quarantine_days}.')
        stress_level = 1
        break
     
    elif quarantine_days <15:
        
        print ("Maria looks at the peaky blinders and Love alarm")
    
    elif (quarantine_days >= 15) & (quarantine_days <20):
        
        print ("Maria reads THE WORLD OF SOFIA and Cronicas de una muerte anunciada")
    
    elif (quarantine_days >= 20) & (quarantine_days <40):
        print ('Maria builds her Foundation of Analysis I class')
        
    else:
        print ("The lady works out")
    
    print (f'The day number {quarantine_days} of quarantine is over. \n ')
    
    # Days increase
    quarantine_days = quarantine_days + 1
    stress_level = stress_level * 2

print ("Quarantine is over.")

In [ ]:
import pandas as pd
data1 = {'names': ['Martins', 'Raul', 'Estremadoyro', "Kante", 'Tigo', 'Betson', 'Finado', 'Alex', 'Miracles', 'Bambi'], 
     'age': [23, 25, 36, 78, 90, 32, 200, 24, 12, 18]}
people = pd.DataFrame( data = data1)

In [ ]:
people

In [ ]:
i = 0
# row by row
nrows = people.age.count()
while i < nrows:
  
    if people['age'][i] > 150:
        print('Ohhh no a phantom')
        break
    
    elif people['age'][i] < 18:
        # Hemos creado una nueva columna y la estamos rellenando
        people.loc[[i], ["pass"]] = "No pass"
    
    else:
        people.loc[[i], ["pass"]] = "Pass"
        
    i += 1

## 4.5 References

1. [DataCamp](https://www.datacamp.com/community/tutorials/python-if-elif-else?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034358&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9060932&gclid=CjwKCAiA7dKMBhBCEiwAO_crFCArGqe0fxSaO2q6eTaTtigeALef5CcM1hRWgNI8hMEoVCg-uOwFDhoCu1kQAvD_BwE)
2. https://www.programiz.com/python-programming/if-elif-else
3. https://www.guru99.com/if-loop-python-conditional-structures.html
4. https://www.w3schools.com/python/python_for_loops.asp
5. https://www.programiz.com/python-programming/for-loop
6. https://www.geeksforgeeks.org/loops-in-python/
7. https://www.w3schools.com/python/python_while_loops.asp
8. https://www.programiz.com/python-programming/while-loop
9. https://www.tutorialspoint.com/python/python_while_loop.htm